<div class="p-grid">
    <div class="p-col-12 p-md-12">
        <dp-button  id="btnNew" class="ui-button-dp clsCootypeBtns" (click)='ClickBtn("New")'   [definition]="btnNewDef">
        </dp-button>
    </div>
    <div class="p-col-12 p-md-12">
        <dp-button  id="btnUpdate" class="ui-button-dp clsCootypeBtns" (click)='ClickBtn("Update")'  
            [definition]="btnUpdateDef">
        </dp-button>
    </div>
    <div class="p-col-12 p-md-12">
        <dp-button  id="btnReplace" class="ui-button-dp clsCootypeBtns" (click)='ClickBtn("Replace")'  
            [definition]="btnReplaceDef">
        </dp-button>
    </div>
    <div class="p-col-12 p-md-12">
        <dp-button  id="btnCancel" class="ui-button-dp clsCootypeBtns" (click)='ClickBtn("Cancel")'  
            [definition]="btnCancelDef">
        </dp-button>
    </div>
</div>

