<div style="background-color: rgb(204, 127, 255); font-size: 32px;">
    In Page 2


    <div class="card">
        <h5>Inline</h5>
        <div class="p-formgroup-inline">
            <div class="p-field">
                <label for="firstname5" class="p-sr-only">Firstname</label>
                <input id="firstname5" type="text" pInputText placeholder="Firstname"> 
            </div>
            <div class="p-field">
                <label for="lastname5" class="p-sr-only">Lastname</label>
                <input id="lastname5" type="text" pInputText placeholder="Lastname"> 
            </div>
            <button pButton pRipple type="button" label="Submit"></button>
        </div>
    </div>
</div>