<p-fieldset legend="פרטי משלוח" [toggleable]="false">
    <table>
        <tr>
            <td>
                תאריך פתיחה
            </td>
            <td>

            </td>
        </tr>
        <tr>
            <td>
                ארץ יעד
            </td>
            <td>
                
            </td>
        </tr> 
        <tr>
            <td>
                Inco-Terms
            </td>
            <td>
                
            </td>
        </tr>      
        <tr>
            <td>
                סוג שימוש
            </td>
            <td>
                
            </td>
        </tr>  
        <tr>
            <td>
                מקור ההצהרה
            </td>
            <td>
                
            </td>
        </tr>  
        <tr>
            <td>
                מספר ש.מ.ר
            </td>
            <td>
                
            </td>
        </tr>                                   
        <tr>
            <td>
                מספר ש.מ.פ
            </td>
            <td>
                
            </td>
        </tr> 
        <tr>
            <td>
                מספר ש.מ
            </td>
            <td>
                
            </td>
        </tr>                 
    </table>
     <p-fieldset legend="טבלת אסמכתאות" [toggleable]="true">

     </p-fieldset>
</p-fieldset>

