<br>
<div  *ngIf="NonManCerData != undefined">
<div class="p-grid">
    <div class="p-col-12 p-md-4">
        <p-fieldset legend="{{ 'coo.nonManCer' | translate  }}" [toggleable]="false">
        <div class="p-grid">
            <div class="p-col-12 p-md-6"> {{ 'coo.entityNo' | translate  }}:</div>
            <div class="p-col-12 p-md-6">
                <dp-inputtext [definition]="InputTextDef" [ngModel]="NonManCerData.entityNo" ></dp-inputtext>
            </div>
        </div>
        <div class="p-grid">
            <div class="p-col-12 p-md-6">{{ 'coo.openDate' | translate  }}:</div>
            <div class="p-col-12 p-md-6">
                <dp-inputtext [definition]="InputTextDef" [ngModel]="NonManCerData.openDate" ></dp-inputtext>
            </div>
        </div>
        <div class="p-grid">
            <div class="p-col-12 p-md-6">{{ 'coo.openedBy' | translate  }}:</div>
            <div class="p-col-12 p-md-6">
                <dp-inputtext [definition]="InputTextDef" [ngModel]="NonManCerData.openedBy" ></dp-inputtext>
                </div>           
        </div>
        </p-fieldset>
    </div>
    <div class="p-col-12 p-md-4">
       
    </div>
</div>
<br/>
<div class="p-grid">
    <div class="p-col-12 p-md-4">
        <p-fieldset legend="{{ 'coo.general' | translate  }}" [toggleable]="false">
        <div class="p-grid">
            <div class="p-col-12 p-md-5"> {{ 'coo.COOinternalNumber' | translate  }}:</div>
            <div class="p-col-12 p-md-1 Mandatory">*</div>
            <div class="p-col-12 p-md-6">
                <dp-inputtext [definition]="InputTextDef" [ngModel]="NonManCerData.COOinternalNumber" ></dp-inputtext> 
            </div>
        </div>
        <div class="p-grid">
            <div class="p-col-12 p-md-5">{{ 'coo.shipmentNo' | translate  }}:</div>
            <div class="p-col-12 p-md-1 Mandatory">*</div>
            <div class="p-col-12 p-md-6">
                <dp-inputtext [definition]="InputTextDef" [ngModel]="NonManCerData.shipmentNo" ></dp-inputtext>
            </div>
        </div>
        <div class="p-grid">
            <div class="p-col-12 p-md-5">{{ 'coo.department' | translate  }}:</div>
            <div class="p-col-12 p-md-1 Mandatory">*</div>
            <div class="p-col-12 p-md-6">
                <dp-autocomplete [initVal]="'ISRAEL'"  id="acDepartment" [ngModel]="NonManCerData.department"                               
                [definition]="autocompleteDefinition1" [datasource]="countriesData">
               </dp-autocomplete>
                </div>           
        </div>
        <div class="p-grid">
            <div class="p-col-12 p-md-5">{{ 'coo.CSDECorder' | translate  }}:</div>
            <div class="p-col-12 p-md-1 Mandatory">*</div>
            <div class="p-col-12 p-md-6">
                <dp-inputtext [definition]="InputTextDef" [ngModel]="NonManCerData.CSDECorder" ></dp-inputtext>
                </div>
        </div>
        <div class="p-grid">
            <div class="p-col-12 p-md-6">{{ 'coo.openDate' | translate  }}:</div>
            <div class="p-col-12 p-md-6">
                <dp-calendar [definition]="calendarDef" [ngModel]="NonManCerData.openDateStr" ></dp-calendar>
            </div>
        </div>
        <div class="p-grid">
            <div class="p-col-12 p-md-6">{{ 'coo.openedBy' | translate  }}:</div>
            <div class="p-col-12 p-md-6">
                
            </div>
        </div>
        </p-fieldset>
    </div>
    <div class="p-col-12 p-md-4">
        <p-fieldset legend="{{ 'coo.replaceCOO' | translate  }}" [toggleable]="false">
            <div class="p-grid">
                <div class="p-col-12 p-md-6">{{ 'coo.COOnoForCancel' | translate  }}</div>
                <div class="p-col-12 p-md-6">
                    <dp-inputtext [definition]="InputTextDef" [ngModel]="NonManCerData.COOnoForCancel" ></dp-inputtext>
                </div>
            </div>
            <div class="p-grid">
                <div class="p-col-12 p-md-6">{{ 'coo.replaceReason' | translate  }}</div>
                <div class="p-col-12 p-md-6">
                    <dp-inputtext [definition]="InputTextDef" [ngModel]="NonManCerData.replaceReason" ></dp-inputtext>
                </div>
            </div>
            <div class="p-grid">
                <div class="p-col-12 p-md-6">{{ 'coo.customsDecNo' | translate  }}:</div>
                <div class="p-col-12 p-md-6 ">
                    <dp-inputtext [definition]="InputTextDef" [ngModel]="NonManCerData.customsDecNo" ></dp-inputtext>
                </div>           
            </div>
            <div class="p-grid">
                <div class="p-col-12 p-md-6">{{ 'coo.printDecCOO' | translate  }}:</div>
                <div class="p-col-12 p-md-6 ">
                    <dp-checkbox  [definition]="checkboxDef" [ngModel]="NonManCerData.printDecCOO"></dp-checkbox>
                </div>           
            </div>
            </p-fieldset>
    </div>
</div>
<br/>
<div class="p-grid">
    <div class="p-col-12 p-md-4">
        <p-fieldset legend="{{ 'coo.transitionDetails' | translate  }}" [toggleable]="false">
        <div class="p-grid">
            <div class="p-col-12 p-md-5"> {{ 'coo.importWBno' | translate  }}:</div>
            <div class="p-col-12 p-md-1 Mandatory">*</div>
            <div class="p-col-12 p-md-6">
                <dp-inputtext [definition]="InputTextDef" [ngModel]="NonManCerData.importWBno" ></dp-inputtext> 
            </div>
        </div>
        <div class="p-grid">
            <div class="p-col-12 p-md-5">{{ 'coo.exportDate' | translate  }}:</div>
            <div class="p-col-12 p-md-1 Mandatory">*</div>
            <div class="p-col-12 p-md-6">
                <dp-calendar [definition]="calendarDef" [ngModel]="NonManCerData.exportDateStr" ></dp-calendar>
            </div>
        </div>
        <div class="p-grid">
            <div class="p-col-12 p-md-5">{{ 'coo.exportCountry' | translate  }}:</div>
            <div class="p-col-12 p-md-1 Mandatory">*</div>
            <div class="p-col-12 p-md-6">
                <dp-autocomplete [initVal]="'ISRAEL'"  id="acexportCountry"                                
                [definition]="autocompleteDefinition1" [datasource]="countriesData">
               </dp-autocomplete>
                </div>           
        </div>
        <div class="p-grid">
            <div class="p-col-12 p-md-5">{{ 'coo.originPortExport' | translate  }}:</div>
            <div class="p-col-12 p-md-1 Mandatory">*</div>
            <div class="p-col-12 p-md-6">
                <dp-autocomplete [initVal]="'ISRAEL'"  id="acExporterCountry"                                
                [definition]="autocompleteDefinition1" [datasource]="countriesData">
               </dp-autocomplete>
                </div>
        </div>
        <br>
        <div class="p-grid">
            <div class="p-col-12 p-md-5"> {{ 'coo.exportWBno' | translate  }}:</div>
            <div class="p-col-12 p-md-1 Mandatory">*</div>
            <div class="p-col-12 p-md-6">
                <dp-inputtext [definition]="InputTextDef" [ngModel]="NonManCerData.exportWBno" ></dp-inputtext> 
            </div>
        </div>
        <div class="p-grid">
            <div class="p-col-12 p-md-5">{{ 'coo.importDate' | translate  }}:</div>
            <div class="p-col-12 p-md-1 Mandatory">*</div>
            <div class="p-col-12 p-md-6">
                <dp-calendar [definition]="calendarDef" [ngModel]="NonManCerData.importDateStr" ></dp-calendar>
            </div>
        </div>
        <br>
        <div class="p-grid">
            <div class="p-col-12 p-md-5">{{ 'coo.transitionCountry' | translate  }}:</div>
            <div class="p-col-12 p-md-1 Mandatory">*</div>
            <div class="p-col-12 p-md-6">
                <dp-inputtext [definition]="InputTextDef" [ngModel]="NonManCerData.transitionCountry" ></dp-inputtext>
            </div>
        </div>
        <div class="p-grid">
            <div class="p-col-12 p-md-5">{{ 'coo.entrancePortIL' | translate  }}:</div>
            <div class="p-col-12 p-md-1 Mandatory">*</div>
            <div class="p-col-12 p-md-6">
                <dp-autocomplete [initVal]="'ISRAEL'"  id="acentrancePortIL"                                
                [definition]="autocompleteDefinition1" [datasource]="countriesData">
               </dp-autocomplete>
                </div>
        </div>
        <div class="p-grid">
            <div class="p-col-12 p-md-5">{{ 'coo.departurePortIL' | translate  }}:</div>
            <div class="p-col-12 p-md-1 Mandatory">*</div>
            <div class="p-col-12 p-md-6">
                <dp-autocomplete [initVal]="'ISRAEL'"  id="acdeparturePortIL"                                
                [definition]="autocompleteDefinition1" [datasource]="countriesData">
               </dp-autocomplete>
                </div>
        </div>
        <div class="p-grid">
            <div class="p-col-12 p-md-5">{{ 'coo.ETDfromIsrael' | translate  }}:</div>
            <div class="p-col-12 p-md-1 Mandatory">*</div>
            <div class="p-col-12 p-md-6">
                <dp-calendar [definition]="calendarDef" [ngModel]="NonManCerData.ETDfromIsraelStr" ></dp-calendar>
            </div>
        </div>
        </p-fieldset>
    </div>
    <div class="p-col-12 p-md-4">
        <p-fieldset legend="{{ 'coo.declaration' | translate  }}" [toggleable]="false">
            <div class="p-grid">
                <div class="p-col-12 p-md-5">{{ 'coo.goodsDescription' | translate  }}</div>
                <div class="p-col-12 p-md-1 Mandatory">*</div>
                <div class="p-col-12 p-md-6">
                    <dp-inputtext [definition]="InputTextDef" [ngModel]="NonManCerData.goodsDescription" ></dp-inputtext>
                </div>
            </div>
            <div class="p-grid">
                <div class="p-col-12 p-md-5">{{ 'coo.declaringCompany' | translate  }}</div>
                <div class="p-col-12 p-md-1 Mandatory">*</div>
                <div class="p-col-12 p-md-6">
                    <dp-inputtext [definition]="InputTextDef" [ngModel]="NonManCerData.declaringCompany" ></dp-inputtext>
                </div>
            </div>
            <div class="p-grid">
                <div class="p-col-12 p-md-5">{{ 'coo.declaringPersonName' | translate  }}:</div>
                <div class="p-col-12 p-md-1 Mandatory">*</div>
                <div class="p-col-12 p-md-6 ">
                    <dp-inputtext [definition]="InputTextDef" [ngModel]="NonManCerData.declaringPersonName" ></dp-inputtext>
                </div>           
            </div>
            <div class="p-grid">
                <div class="p-col-12 p-md-5">{{ 'coo.declaringPersonRole' | translate  }}:</div>
                <div class="p-col-12 p-md-1 Mandatory">*</div>
                <div class="p-col-12 p-md-6 ">
                    <dp-inputtext [definition]="InputTextDef" [ngModel]="NonManCerData.openedBy" ></dp-inputtext>
                </div>           
            </div>
            <div class="p-grid">
                <div class="p-col-12 p-md-6">{{ 'coo.manifestNo' | translate  }}:</div>
                <div class="p-col-12 p-md-6 ">
                    <dp-inputtext [definition]="InputTextDef" [ngModel]="NonManCerData.manifestNo" ></dp-inputtext>
                </div>           
            </div>
            </p-fieldset>
    </div>
</div>
</div>