<br/>
<div  *ngIf="cooService.cooBox != undefined">
<div class="p-grid">
    <div class="p-col-12 p-md-3">
        <p-fieldset legend="General" [toggleable]="false">
        <div class="p-grid">
            <div class="p-col-12 p-md-6">Entity No:</div>
            <div class="p-col-12 p-md-6"><b>{{this.cooService.cooBox.Header.EntityNo}}</b></div>
        </div>
        <div class="p-grid">
            <div class="p-col-12 p-md-6">OPS Shipment No.:</div>
            <div class="p-col-12 p-md-6"><b>{{this.cooService.cooBox.Header.ShipmentNumber}}</b></div>
        </div>
        <div class="p-grid">
            <div class="p-col-12 p-md-6">Department :</div>
            <div class="p-col-12 p-md-6"><b>{{this.cooService.cooBox.Header.DeptCode}} - Air Export</b></div>           
        </div>
        <div class="p-grid">
            <div class="p-col-12 p-md-6">CSDEC Order</div>
            <div class="p-col-12 p-md-6"><b>{{this.cooService.cooBox.Header.CusDecOrder}}</b></div>
        </div>
        <div class="p-grid">
            <div class="p-col-12 p-md-6">Open Date:</div>
            <div class="p-col-12 p-md-6"><b>{{headerOpenDate}}</b></div>
        </div>
        <div class="p-grid">
            <div class="p-col-12 p-md-6">Opened By:</div>
            <div class="p-col-12 p-md-6"><b>{{this.cooService.cooBox.Header.OpenedBy}}</b></div>
        </div>
        </p-fieldset>
    </div>
    <div class="p-col-12 p-md-9">
    </div>
</div>
<br/>
<div class="p-grid">
    <div class="p-col-12 p-md-3">
        <p-fieldset legend="Agent Request" [toggleable]="false">
        <div class="p-grid">
            <div class="p-col-12 p-md-6">Request No.:</div>
            <div class="p-col-12 p-md-6"><b>{{cooService.cooOtherDetails.CUSDECFile }}-{{cooService.cooBox.Header.EntityNo}}</b></div>
        </div>
        <div class="p-grid">
            <div class="p-col-12 p-md-6">COO Type:</div>
            <div class="p-col-12 p-md-6"><b>{{cooService.cooBox.Header.AgentR_certificateOfOriginTypeCode }} - {{ this.cooService.cooBox.Header.AgentR_certificateOfOriginTypeName}}</b></div>
        </div>
        <div class="p-grid">
            <div class="p-col-12 p-md-6">Request Reason Code:</div>
            <div class="p-col-12 p-md-6"><b>{{cooService.cooOtherDetails.CooMode}}</b></div>           
        </div>
        <div class="p-grid">
            <div class="p-col-12 p-md-6">COO No:</div>
            <div class="p-col-12 p-md-6"><b>{{cooService.cooBox.Header.AgentR_certificateID}}</b></div>
        </div>        
        </p-fieldset>
    </div>
    <div class="p-col-12 p-md-3">
        <p-fieldset legend="Replace COO" [toggleable]="true">
            <div class="p-grid">
                <div class="p-col-12 p-md-6">COO No. for Cancel:</div>
                <div class="p-col-12 p-md-6"><b></b></div>
            </div>
            <div class="p-grid">
                <div class="p-col-12 p-md-6">Replace Reason:</div>
                <div class="p-col-12 p-md-6"><b></b></div>
            </div>
            <div class="p-grid">
                <div class="p-col-12 p-md-6">Customs Declaration No.</div>
                <div class="p-col-12 p-md-6"><b></b></div>           
            </div>
            <div class="p-grid">
                <div class="p-col-12 p-md-6">Print Declaration on COO?</div>
                <div class="p-col-12 p-md-6"><b>Y</b></div>
            </div>        
            </p-fieldset>
    </div>
    <div class="p-col-12 p-md-3"></div>
</div>
</div>