<br/>
<!-- {{cooService.cooData.CooBoxData.Header | json}}  -->
<div *ngIf="cooService.cooData.CooBoxData != undefined">    
<div class="p-grid">
    <div class="p-col-12 p-md-3">
        <p-fieldset legend="General" [toggleable]="false">
        <div class="p-grid">
            <div class="p-col-12 p-md-6">Entity No:</div>
            <div class="p-col-12 p-md-6"><b>{{cooService.cooData.CooBoxData.Header.EntityNo}}</b></div>
        </div>
        <div class="p-grid">
            <div class="p-col-12 p-md-6">OPS Shipment No.:</div>
            <div class="p-col-12 p-md-6"><b>{{cooService.cooData.CooBoxData.Header.ShipmentNumber}}</b></div>
        </div>
        <div class="p-grid">
            <div class="p-col-12 p-md-6">Department :</div>
            <div class="p-col-12 p-md-6"><b>{{cooService.cooData.CooBoxData.Header.DeptCode}} - Air Export</b></div>           
        </div>
        <div class="p-grid">
            <div class="p-col-12 p-md-6">CSDEC Order</div>
            <div class="p-col-12 p-md-6"><b>{{cooService.cooData.CooBoxData.Header.CusDecOrder}}</b></div>
        </div>
        <div class="p-grid">
            <div class="p-col-12 p-md-6">Open Date:</div>
            <div class="p-col-12 p-md-6"><b>{{cooService.cooData.CooBoxData.Header.OpenDate}}</b></div>
        </div>
        <div class="p-grid">
            <div class="p-col-12 p-md-6">Opened By:</div>
            <div class="p-col-12 p-md-6"><b>{{cooService.cooData.CooBoxData.Header.OpenedBy}}</b></div>
        </div>
        </p-fieldset>
    </div>
    <div class="p-col-12 p-md-9">
    </div>
</div>
<br/>
<div class="p-grid">
    <div class="p-col-12 p-md-3">
        <p-fieldset legend="Agent Request" [toggleable]="false">
        <div class="p-grid">
            <div class="p-col-12 p-md-6">Request No.:</div>
            <div class="p-col-12 p-md-6"><b>
                {{cooService.cooData.CooBoxData.Header.AgentR_internalApplication}}
            </b></div>
        </div>
        <div class="p-grid">
            <div class="p-col-12 p-md-6">COO Type:</div>
            <div class="p-col-12 p-md-6"><b>
                {{cooService.cooData.CooBoxData.Header.AgentR_certificateOfOriginTypeCode }} - 
                {{cooService.cooData.CooBoxData.Header.AgentR_certificateOfOriginTypeName}}
            </b></div>
        </div>
        <div class="p-grid">
            <div class="p-col-12 p-md-6">Request Reason Code:</div>
            <div class="p-col-12 p-md-6"><b>{{cooService.cooData.CooBoxData.CooMode}}</b></div>           
        </div>
        <div class="p-grid">
            <div class="p-col-12 p-md-6">COO No:</div>
            <div class="p-col-12 p-md-6"><b>{{cooService.cooData.CooBoxData.Header.AgentR_certificateID}}</b></div>
        </div>        
        </p-fieldset>
    </div>
    <div class="p-col-12 p-md-3">
        <p-fieldset legend="Replace COO" [toggleable]="true">
            <div class="p-grid">
                <div class="p-col-12 p-md-6">COO No. for Cancel:</div>
                <div class="p-col-12 p-md-6"><b>{{cooService.cooData.CooBoxData.Header.AgentR_certificateIdToCancel}}</b></div>
            </div>
            <div class="p-grid">
                <div class="p-col-12 p-md-6">Replace Reason:</div>
                <div class="p-col-12 p-md-6"><b>{{cooService.cooData.CooBoxData.Header.AgentR_replacementReason}}</b></div>
            </div>
            <div class="p-grid">
                <div class="p-col-12 p-md-6">Customs Declaration No.</div>
                <div class="p-col-12 p-md-6"><b>{{cooService.cooData.CooBoxData.Header.AgentR_exportDeclarationNum}}</b></div>           
            </div>
            <div class="p-grid">
                <div class="p-col-12 p-md-6">Print Declaration on COO?</div>
                <div class="p-col-12 p-md-6"><b>{{cooService.cooData.CooBoxData.Header.COO_IsConsigneeForPrint}}</b></div>
            </div>        
            </p-fieldset>
    </div>
    <div class="p-col-12 p-md-3"></div>
</div>
</div>