<!-- <h2 class="text-right">הקפאת כותרת</h2>
<dp-table tableId="table121231" [definition]="gridDefinition1" 
    [datasource]="gridData1"></dp-table>  

<h2 class="text-right">הקפאת עמודות</h2>
<dp-table tableId="table121232" *ngIf="gridData2" [definition]="gridDefinition2" 
    [datasource]="gridData2"></dp-table>  -->


 <h2 class="text-right">הקפאת כותרת ועמודות</h2>
<dp-table tableId="table121233" *ngIf="gridData5" [definition]="gridDefinition5" 
    [datasource]="gridData5"></dp-table> 


<!-- <h2 class="text-right">מיזוג עמודות</h2>
<dp-table tableId="table121234" *ngIf="gridData1" [definition]="gridDefinition3" 
    [datasource]="gridData1"></dp-table>    
  

<h2 class="text-right">SUM+TOTAL + עמודה מחושבת</h2>
<dp-table tableId="table121235" *ngIf="gridData4" [definition]="gridDefinition4" 
    [datasource]="gridData4"></dp-table> -->
