<div *ngIf="showApp else loader" id="dpMainPageBody" class="dpCssTabContainer">
    <app-declaration-toolbar></app-declaration-toolbar>
    <app-declaration-header></app-declaration-header>
    <br/>
    <app-declaration-tab></app-declaration-tab>
    <router-outlet></router-outlet>
</div>

<ng-template #loader>
    <div class="loader">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="margin:auto;background:#fff;display:block;" width="200px" height="200px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
            <circle cx="50" cy="50" fill="none" stroke="#e15b64" stroke-width="10" r="35" stroke-dasharray="164.93361431346415 56.97787143782138">
                <animateTransform attributeName="transform" type="rotate" repeatCount="indefinite" dur="1s" values="0 50 50;360 50 50" keyTimes="0;1"></animateTransform>
            </circle>
        </svg>
    </div>
</ng-template>

