
<div class="p-grid">
    <div class="p-col-12 p-md-4"></div>
    <div class="p-col-12 p-md-4">{{jsonTransmissionData.Result.PC_NG_2281_MSG02_CertificateOfOriginRequestFeedback.ResponseContentHeader.Exception.ExeptionDescription._text}}</div>
    <div class="p-col-12 p-md-4">:סטטוס שידור</div>
</div>

<div class="Response_MainDiv">
    
    <table cellspacing="0" cellpadding="0" border=0 width="700px" align=center style="FONT-SIZE: 17px;">

        <tr class='Response_WhiteLine'>
            <td colspan=6>&nbsp;<td>
        </tr>
        <tr class='Response_RequestStatus'>
            <td colspan=6>
                <table cellspacing='0' cellpadding='0' border=0 width='100%'>
                    <tr>
                        <td>סטטוס שידור:</td>
                        <td class="Response_Validation_Caption_Success">טיוטא תקינה נא תשומת לב קיימת אזהרה</td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr class='Response_Main_Caption'>
            <td colspan=6> משוב מכס      תיק: 2105050 ;   הצהרה: 20041392871826 </td>
        </tr>

        <br>

        <tr class="Response_Validation_Alt Response_Validation_Caption_Warning">
            <td colspan=2 style="width: 100px;">אזהרה:</td>
            <td colspan=4>עבור מטען "‎17-122933985968-515929552-301120?" טרם התקבל מסר קליטה מאף אתר שבפיקוח המכס<td>
        </tr>

        <br>

        <tr class="Response_Validation_Alt Response_Validation_Caption_Warning">
            <td colspan=2>מיקום שגיאה:</td>
            <td colspan=4>מסך משגור(שורה 1)פרטי מזהה מטען סוג מזהה מטען<td>
        </tr>

        <br>

        <tr class="Response_Body_Alt Response_Body_Message">
            <td colspan=2>בית מכס מטפל:</td>
            <td colspan=4>נתב'ג</td>
        </tr>
        <tr class="Response_Body_Reg Response_Body_Message">
            <td colspan=2>סטטוס הצהרה:</td>
            <td colspan=4>הותר</td>
        </tr>
        <tr class="Response_Body_Alt Response_Body_Message">
            <td colspan=2>סטטוס לוגיסטי:</td>
            <td colspan=4>זמין להתרה</td>
        </tr>
        <tr class="Response_Body_Reg Response_Body_Message">
            <td colspan=2>סטטוס כספי:</td>
            <td colspan=4>לא חייב</td>
        </tr>
        <tr class="Response_Body_Alt Response_Body_Message">
            <td colspan=2>גורם מטפל:</td>
            <td colspan=4></td>
        </tr>
        <tr class="Response_Body_Reg Response_Body_Message">
            <td colspan=2>ארוע יוזם:</td>
            <td colspan=4>הותרה הצהרת ייבוא</td>
        </tr>
    </table>

</div>  



