<div class="clsEelementContainer">
    <h2>in dynamicdialogsrc2test.component.html</h2>
    <div class="p-grid"> 
        <div class="p-col-12 p-md-4">
            <fieldset class="text-center"> 
                <legend>Header 1</legend>  

                    <button type="button" pButton (click)="funcReturnToPatrent(111)" label="return 111" class="ui-button-success"></button>                

                <br><br>            
            </fieldset>
        </div>
        <div class="p-col-12 p-md-8">
            <fieldset class="text-center">
                <legend>Header 2</legend>      

                <div class="p-grid">
                    <div class="p-col-12 p-md-4">

                        text 1 ... text 1 ... <br>
                        text 1 ... text 1 ... <br>
                        text 1 ... text 1 ... <br>
                        text 1 ... text 1 ... <br>
                        text 1 ... text 1 ... <br>
                        

                    </div>
                    <div class="p-col-12 p-md-4"> 

                        text 2 ... text 2 ... <br>
                        text 2 ... text 2 ... <br>
                        text 2 ... text 2 ... <br>
                        text 2 ... text 2 ... <br>
                        text 2 ... text 2 ... <br>

                    </div>
                    <div class="p-col-12 p-md-4">

                        text 3 ... text 3 ... <br>
                        text 3 ... text 3 ... <br>
                        text 3 ... text 3 ... <br>
                        text 3 ... text 3 ... <br>
                        text 3 ... text 3 ... <br>

                    </div>
                </div>

 
                <div class="p-grid">
                    <div class="p-col-12 p-md-4">
                        
                        <button type="button" pButton (click)="funcReturnToPatrent(222)" label="return 222" class="ui-button-info"></button>
                        
                       
                    </div>
                    <div class="p-col-12 p-md-4"> 

                        <button type="button" pButton (click)="funcReturnToPatrent(333)" label="return 333" class="ui-button-warning"></button>

                    </div>
                    <div class="p-col-12 p-md-4">

                        <button type="button" pButton (click)="funcReturnToPatrent(444)" label="return 444" class="ui-button-danger"></button>

                    </div>
                </div>
                
                <br><br>
            </fieldset>
            
        </div>

      
    </div>  
</div>

