<table>
    <tr>
        <td style="width: 50px;">
            <dp-button 
                id="btnNew"
                class="ui-button-yellow" 
                (click)='ClickBtn("New")' 
                [definition]="btnNewDef">
            </dp-button> 
        </td>
        <td>
            <dp-button 
                id="btnUpdate"
                class="ui-button-yellow" 
                (click)='ClickBtn("Update")' 
                [definition]="btnUpdateDef">
            </dp-button> 
        </td>
        <td>
            <dp-button 
                id="btnReplace"
                class="ui-button-yellow" 
                (click)='ClickBtn("Replace")' 
                [definition]="btnReplaceDef">
            </dp-button> 
        </td>
        <td>
            <dp-button 
                id="btnCancel"
                class="ui-button-yellow" 
                (click)='ClickBtn("Cancel")' 
                [definition]="btnCancelDef">
            </dp-button> 
        </td>
    </tr>
</table>
