<p-fieldset legend="COO - Test Mode" [toggleable]="true" [collapsed]="true">
    <div *ngIf="cooService.operationGoodDetailsData != undefined" >
        OperationGoodDetailsData: {{cooService.operationGoodDetailsData | json}}  
        <br><br>
        operationInvoiceData: {{cooService.operationInvoiceData | json}} 
        <br><br>
    </div>
</p-fieldset>
<br/>
<div *ngIf="cooService.cooData != undefined" >
    Invoices:  {{cooService.cooData.CooBoxData.Invoices | json}}
    <br><br>
    GoodDetails:  {{cooService.cooData.CooBoxData.GoodDetails | json}}  
</div>
<br/>
<div>
    <div class="p-col-12 p-md-8">
        <app-invoicedetails [state]="'standalone'" [invoiceDetails]="invoiceDetails" ></app-invoicedetails>
    </div>
<dp-table tableId="tblContainers" 
    [definition]="gridContainersDefinition"
    [(datasource)]="goodsDetails"
    
    >

    <!-- <ng-template pTemplate="rowexpansion" let-rowData let-columns="columns">
        aaaaaaa
    </ng-template> -->
</dp-table>

</div>

