<br/>
{{declarationService.declarationData.DeclarationBox.ExportCustoms | json}}
<br>
<br>
<br>
<div *ngIf="exportassistService.customersList != undefined">
    <div class="p-grid">
        <div class="p-col-12 p-md-4">
            <div class="p-grid">
                <div class="p-col-12 p-md-3">{{ 'declaration.operationalCustomer' | translate }}:</div>
                <div class="p-col-12 p-md-1 Mandatory">*</div>
                <div class="p-col-12 p-md-5">
                    <b>
                        <dp-autocomplete    
                            [ngModel]="declarationService.declarationData.DeclarationBox.ExportCustoms.CustomerJson"     
                            [definition]="acDefOperationalCustomer"
                            [datasource]="exportassistService.customersList"  
                            (ngModelChange)="declarationService.declarationData.DeclarationBox.ExportCustoms.CustomerCode = $event.Customer_Code;"        
                        ></dp-autocomplete>
                    </b>
                </div>
            </div>
            <div class="p-grid">
                <div class="p-col-12 p-md-3">{{ 'declaration.billCustomer' | translate }}:</div>
                <div class="p-col-12 p-md-1 Mandatory">*</div>
                <div class="p-col-12 p-md-5">
                    <b>
                    <dp-autocomplete    
                    [ngModel]="declarationService.declarationData.DeclarationBox.ExportCustoms.BillToName"     
                    [definition]="acDefOperationalCustomer"
                    [datasource]="exportassistService.customersList"  
                    (getSelected)="handleResult($event, 'billCustomer')"              
                    ></dp-autocomplete>
                    </b>
                </div>            
            </div>       
            <div class="p-grid">
                <div class="p-col-12 p-md-3">{{ 'declaration.operationalTeam' | translate }}:</div>
                <div class="p-col-12 p-md-1 Mandatory">*</div>
                <div class="p-col-12 p-md-5">
                    <b>
                        <dp-autocomplete    
                            [ngModel]="declarationService.declarationData.DeclarationBox.ExportCustoms.OperationTeamName"     
                            [definition]="acDefOperationalTeam"
                            [datasource]="exportassistService.teamsList"  
                            (getSelected)="handleResult($event, 'operationalTeam')"              
                        ></dp-autocomplete>
                    </b>
                </div>
            </div>  
        </div>
    </div>
    <div class="p-grid">
        <div class="p-col-12 p-md-12">
            <p-fieldset legend="{{ 'declaration.shipmentDetails' | translate }}" [toggleable]="false">
                <app-shipment-details></app-shipment-details>
            </p-fieldset>
        </div>        
    </div>
</div>










