.cssImgDialog1{width:40px; background-color: blueviolet;}
@media(min-width:1200px){
    .clsWidth120 button{width: 120px;}
}
button.clsBtnCustom {background-image: linear-gradient(red, yellow);color:brown;border-color: red; }



// #dialog9 .ui-dialog-content .cssDialogtestH4 {
//     color: gold !important;
// }
// .cssDialogtestH4{color:white;background-color:gray}
// #dialog9 .cssDialogtestH4{color:white;background-color:gray}
// .css{font-size:40px !important;}