

<div style="background-color: rgb(215, 236, 96); font-size: 32px;">
    In Page 4


    <div class="card">
        <h5>Vertical form</h5>
        <div class="p-fluid">
            <div class="p-field">
                <label for="firstname1">Option 1</label>
                <input id="firstname1" type="text" pInputText> 
            </div>
            <div class="p-field">
                <label for="lastname1">Option 2</label>
                <input id="lastname1" type="text" pInputText> 
            </div>
        </div>
    </div>
</div>
