



<!-- <dp-calendar [definition]="calendarDefinitions" [ngModel]="calendarData1" class="p-mr-1"></dp-calendar>
<dp-calendar [definition]="calendarDefinitions2" [ngModel]="calendarData2" class="p-mr-1"></dp-calendar>
 

<dp-calendar [definition]="calendarDefinitions" ngModel="{{calendarData1}}">
</dp-calendar> -->

<!-- <dp-inputtext [definition]="InputtextDefinitions1" [ngModel]="'dddddddd'" class="p-mr-1"></dp-inputtext> -->
<!-- <app-page0test></app-page0test> -->

<!-- <app-table2test></app-table2test> -->
<!-- <app-confirmdialogtest></app-confirmdialogtest> -->
<!-- <app-dialogtest></app-dialogtest> -->
<app-tabletest></app-tabletest> 

<!-- <br>
<dp-calendar [definition]="calendarDefinitions" [ngModel]="calendarData1" ></dp-calendar>
<dp-checkbox [definition]="checkboxDefinitions" [ngModel]="true" ></dp-checkbox>


<app-tabmenutest></app-tabmenutest>

<app-dynamicdialogtest></app-dynamicdialogtest>

<app-dialogtest></app-dialogtest>

<app-confirmdialogtest></app-confirmdialogtest>

<app-treetest></app-treetest>

<app-toasttest></app-toasttest>

<app-globalfunctionstest></app-globalfunctionstest>

<app-splitbuttontest></app-splitbuttontest>

<app-menubartest></app-menubartest>

<app-contextmenutest></app-contextmenutest>  -->

<!-- <router-outlet></router-outlet> -->
<!-- 
<br>
<hr><hr><hr>
<app-autocompletesingletest></app-autocompletesingletest>
<hr> -->
<!-- <app-autocompletetest></app-autocompletetest> -->