<router-outlet></router-outlet>
<app-tabletest></app-tabletest>
<!-- <hr>
<dp-calendar [definition]="calendarDefinitions" [ngModelDP]="calendarData1" ></dp-calendar>
<hr>
<dp-checkbox [definition]="checkboxDefinitions" [ngModelDP]="true" ></dp-checkbox>
<hr>
<dp-inputtext [definition]="it1" [ngModelDP]="inputText1"></dp-inputtext>
<hr>
<dp-inputnumber [definition]="in1" [ngModelDP]="inputNumber1"></dp-inputnumber>
<hr>
<dp-autocomplete (getSelected)="external_data_selected_1 = $event" 
    [definition]="autocompleteDefinition1" [datasource]="data_for_ac1">
</dp-autocomplete>

<div>external_data_selected_1: <div class='s'>                    
    {{ !external_data_selected_1 ? '' : (external_data_selected_1 | json ) }}
</div>
</div>

<hr>
<app-autocompletesingletest></app-autocompletesingletest>
<hr>
<app-autocompletetest></app-autocompletetest>
<hr> -->

