<!-- {{myForm.value}}

 <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm.value)"> 

     <div class="form-control">
        <dp-autocomplete [required]="true" [datasource]="ac_suggestions" 
        name="country" [ngModel]="ac_suggestions[0]"></dp-autocomplete>
     </div>
     <div class="form-control">
        <dp-inputtext required name="firstname" ngModel="ziv" placeholder="hewy"></dp-inputtext>
     </div>
     <div class="form-control">
        <dp-calendar required name="date" ngModel="11/11/21"></dp-calendar>
     </div>
     <div class="form-control">
        <dp-inputnumber required name="age" ngModel="10"></dp-inputnumber>
     </div>
     <div class="form-control">
        <dp-checkbox name="cb" [ngModel]="false"></dp-checkbox>
     </div>

     <button type="submit" class="ui-button-dp">submit</button>
     
</form> -->

<!-- 
<dp-calendar [definition]="calendarDefinitions" [ngModel]="calendarData1" class="p-mr-1"></dp-calendar>
<dp-calendar [definition]="calendarDefinitions2" [ngModel]="calendarData2" class="p-mr-1"></dp-calendar>
 

<dp-calendar [definition]="calendarDefinitions" ngModel="{{calendarData1}}">
</dp-calendar>

<dp-inputtext [definition]="InputtextDefinitions1" [ngModel]="'dddddddd'" class="p-mr-1"></dp-inputtext> -->
<!-- <app-page0test></app-page0test> -->

 <!-- <app-table2test></app-table2test> -->

<app-tabletest></app-tabletest> 

<br>
<!-- <dp-calendar [definition]="calendarDefinitions" [ngModel]="calendarData1" ></dp-calendar>
<dp-checkbox [definition]="checkboxDefinitions" [ngModel]="true" ></dp-checkbox> -->


<app-tabmenutest></app-tabmenutest>

<app-dynamicdialogtest></app-dynamicdialogtest>

<app-dialogtest></app-dialogtest>

<app-confirmdialogtest></app-confirmdialogtest>

<app-treetest></app-treetest>

<app-toasttest></app-toasttest>

<app-globalfunctionstest></app-globalfunctionstest>

<app-splitbuttontest></app-splitbuttontest>

<app-menubartest></app-menubartest>

<app-contextmenutest></app-contextmenutest> 

<router-outlet></router-outlet>

<br>
<hr><hr><hr>
<app-autocompletesingletest></app-autocompletesingletest>
<hr>  
<app-autocompletetest></app-autocompletetest>  