<h2>in autocompletetest.component.html</h2>


{{myForm.value | json}}
<br>
<br>
<br>
<br>
<form #myForm="ngForm" (ngSubmit)="submit(myForm.value)" >
  <div class="p-grid">

    <div class="p-col-12 p-md-6">
      <fieldset>
        <legend>regular:</legend>
        <dp-autocomplete *ngIf="dataForAc1" [ngModel]="dataForAc1[0]" name="regularAc"
          [definition]="autocompleteDefinition1" [datasource]="dataForAc1">
        </dp-autocomplete>
        <br><br>
      </fieldset>
    </div>

    <div class="p-col-12 p-md-6">
      <fieldset>
        <legend>regular with multi select:</legend>
        <dp-autocomplete *ngIf="dataForAc2" name="regularMultiSelect" [ngModel]="dataForAc2[0]"
          [definition]="autocompleteDefinition2" [datasource]="dataForAc2">
        </dp-autocomplete>
      </fieldset>
    </div>


    <div class="p-col-12 p-md-6">
      <fieldset>
        <legend>With Images (default):</legend>
        <dp-autocomplete *ngIf="dataForAc3" name="withImages" [ngModel]="dataForAc3[0]"
          [definition]="autocompleteDefinition3" [datasource]="dataForAc3">
        </dp-autocomplete>
      </fieldset>
    </div>

    <div class="p-col-12 p-md-6">
      <fieldset>
        <legend>Load on first click / open </legend>
        <dp-autocomplete *ngIf="dataForAc4" name="loadOnFirstClick" [ngModel]="dataForAc4[0]"
          [definition]="autocompleteDefinition4" [datasource]="dataForAc4">
        </dp-autocomplete>
        <br><br>
        <br><br>
      </fieldset>
    </div>

    <div class="p-col-12 p-md-6">
      <fieldset>
        <legend>With Table (default):</legend>
        <dp-autocomplete *ngIf="dataForAc5" name="withTable" [ngModel]="dataForAc5[0]"
          [definition]="autocompleteDefinition5" [datasource]="dataForAc5"></dp-autocomplete>
      </fieldset>
    </div>

    <div class="p-col-12 p-md-6">
      <fieldset>
        <legend>Table with Columns Extra Definitons</legend>
        <dp-autocomplete *ngIf="dataForAc6" name="widthTableExtra" [ngModel]="dataForAc6[0]"
          [definition]="autocompleteDefinition6" [datasource]="dataForAc6"></dp-autocomplete>
        <br><br>
      </fieldset>
    </div>

    <div class="p-col-12 p-md-6">
      <fieldset>
        <legend>Data From DB:</legend>
        <dp-autocomplete name="fromDB" *ngIf="dataForAc7" [ngModel]="dataForAc7[0]" [definition]="autocompleteDefinition7"
          [datasource]="dataForAc7"></dp-autocomplete>
      </fieldset>
    </div>

  </div>
<button type="submit">
  SUBMIT
</button>

</form>
