
<div><h4>Shipment:</h4></div>
<div>
    <div style="float: left;">Shipment Number</div>
    <div style="float: left; padding-right: 45px; border: white solid 3px;"></div>
    <div style="float: left;">Dept Code</div>
    <div style="float: left; padding-right: 95px; border: white solid 3px;"></div>
    <div style="float: left;">Shlifa Order</div>
</div>
    <!-- {{ testDate | date:'dd/MM/yyyy' }} -->
<div style="clear: both;">
    <dp-inputtext style="float: left;" ng-disabled="all" [definition]="InputTextDefDis" [ngModel]="detail.ShipmentNumber"></dp-inputtext>
    <div style="float: left; padding-right: 25px; border: white solid 3px;"></div>
    <dp-inputtext style="float: left;" [definition]="InputTextDefDis" [ngModel]="detail.Dept_Code"></dp-inputtext>
    <div style="float: left; padding-right: 25px; border: white solid 3px;"></div>
    <dp-inputtext style="float: left;" [definition]="InputTextDefDis" [ngModel]="detail.Shlifa_Order"></dp-inputtext>
</div>
<div style="clear: both; padding-top: 15px;" >OpenDate:</div>
<dp-calendar [definition]="calendarDef" [ngModel]="openDateStr" (ngModelChange)="updateDetails()"></dp-calendar>
<div style="padding-top: 15px;">Entity Id:</div>
<div ><dp-inputtext [definition]="InputTextDef" [ngModel]="detail.EntityId" (ngModelChange)="updateDetails()"></dp-inputtext></div>
<div style="padding-top: 15px;">Activity:</div>
<dp-autocomplete [definition]="autocompleteDef" [datasource]="dataForAutocomplete" [ngModel]="selectedItemAutocomplete" ></dp-autocomplete>
<div style="padding-top: 15px;">Is Old:</div>
<dp-checkbox  [definition]="checkboxDef" [ngModel]="isOldChk" (ngModelChange)="updateDetails()"></dp-checkbox>
<div style="padding-top: 15px;">E commerce:</div>
<dp-inputnumber [definition]="InputNumberDef" [(ngModel)]="detail.e_commerce_y_n" (ngModelChange)="updateDetails()"></dp-inputnumber>
<!-- <div class=""><h4>ShipmentNumber:</h4></div>
<div class=""><input type="text" #shipmentNumber (keyup)="detail.ShipmentNumber=shipmentNumber.value" value="{{detail.ShipmentNumber}}" class=""/></div>
<div class=""><h4>Dept_Code:</h4></div>
<div class=""><input type="text" #dept_Code (keyup)="detail.Dept_Code=dept_Code.value" value="{{detail.Dept_Code}}" class=""/></div>
<div class=""><h4>Shlifa_Order:</h4></div>
<div class=""><input type="text" #shlifa_Order (keyup)="detail.Shlifa_Order=shlifa_Order.value" value="{{detail.Shlifa_Order}}" class=""/></div>
<div class=""><h5>OpenDate:</h5></div>
<div class=""><input type="text" #openDate (keyup)="detail.OpenDate=openDate.value" value="{{detail.OpenDate}}" class=""/></div>
<div class=""><h5>EntityId:</h5></div>
<div class=""><input type="text" #entityId (keyup)="detail.EntityId=entityId.value" value="{{detail.EntityId}}" class=""/></div>
<div class=""><h5>ActivityId:</h5></div>
<div class=""><input type="text" #activityId (keyup)="detail.ActivityId=shipmentNumber.value" value="{{detail.ActivityId}}" class=""/></div>
<div class=""><h5>IsOld:</h5></div>
<div class=""><input type="text" #isOld (keyup)="detai\l.IsOld=isOld.value" value="{{detail.IsOld}}" class=""/></div>
<div class=""><h5>E_commerce_y_n:</h5></div>
<div class=""><input type="text" #eCommerce (keyup)="detail.e_commerce_y_n=eCommerce.value" value="{{detail.e_commerce_y_n}}" class=""/></div>
<!-- <dp-inputtext ngModel="{{test}}"></dp-inputtext> -->