<div>
    <div class="p-grid">
        <div class="p-col-12 p-md-4">
            <fieldset>
                <legend>tabview 1:</legend>
                
                <dp-tabview></dp-tabview>


                

                <br><br>


            </fieldset>
        </div>
        <div class="p-col-12 p-md-4">
            <fieldset>
                <legend>tabview 2:</legend>


            </fieldset>

        </div>
        <div class="p-col-12 p-md-4">
            <fieldset>
                <legend>tabview 3:</legend>


            </fieldset>

        </div>        
    </div>
</div>