// .ui-tooltip{
//     .ui-tooltip-arrow{border-top-color:red !important;}
//     .ui-tooltip-text{background-color: red !important; color:yellow !important; }    
// }

.clsSpanRounded { border: 1px solid gray; border-radius: 50%;width: 20px;height: 20px;text-align: center;}