<p-toolbar styleClass="p-mb-4">
  <div class="p-toolbar-group-left">
    <!-- <button pButton pRipple label="Save" icon="pi pi-save" class="p-button-success p-mr-2"
            (click)="SaveCutomers([table1.dataState$])"></button> -->
    <button pButton pRipple label="Save" (click)="SaveCutomers();" icon="pi pi-save"
      class="ui-button ui-button-dp p-mr-2"></button>
      <!-- <button pButton pRipple label="Save" (click)="SaveCutomers(); table1.revealErrs = true" icon="pi pi-save"
      class="ui-button ui-button-dp p-mr-2"></button> -->
  </div>
</p-toolbar>

<!-- you can move revealErrs inside definition -->
<!-- <dp-table tableId="table1" (getErrors)="validationErrors1 = $event" [showDirty]="showDirtyInputs" [definition]="gridDefinition"
  [datasource]="customers"></dp-table>
<br>
<br>
<br> -->
<dp-table tableId="table2" (getErrors)="validationErrors2 = $event" [showDirty]="showDirtyInputs" [definition]="gridDefinition2"
  [datasource]="customers"></dp-table>
<!-- <br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<strong>
    Get validation errors for both tables from outside
    <br>
    <br>
    {{validationErrors1 | json}}
    {{validationErrors2 | json}}
</strong>

<br>
<br>
<br>

<button (click)="showDirtyInputs = !showDirtyInputs">SHOW DIRTY INPUTS FROM OUTSIDE</button> -->
<!-- <br>
    <br>
    <br>
    <br>
<dp-table #table2
(stateChanges)="readState('table2 state:', $event)"
    [definition]="gridDefinition" [datasource]="customers"></dp-table> -->


    <strong>
      Get validation errors for both tables from outside
      <br>
      <br>
      {{validationErrors2 | json}}
  </strong>