<p-toolbar styleClass="p-mb-4">
    <div class="p-toolbar-group-left">
        <button pButton pRipple label="Save" 
        icon="pi pi-save" class="p-button-success p-mr-2" 
        (click)="table.checkMandatory()"></button>                
    </div>
</p-toolbar>
<dp-table #table (mandatoryFields)="SaveCutomers({table1: $event})" 
(stateChanges)="readState('table1 state:', $event)" 
[definition]="gridDefinition" [datasource]="customers"></dp-table>


<!-- <dp-table #table2 (stateChanges)="readState('table2 state:', $event)" [definition]="gridDefinition" [datasource]="customers" ></dp-table> -->