

<!-- [(ngModel)]="external_data_selected_6"    -->

<!-- <dp-autocomplete (autocompleteSelectChanged)="funcTest($event)"
[definition]="autocompleteDefinition6" 
[datasource]="data_for_ac6"            
></dp-autocomplete> -->

<dp-autocomplete (getSelected)="external_data_selected_6 = $event" 
[definition]="autocompleteDefinition6" 
[datasource]="data_for_ac6">
</dp-autocomplete>

<br><br><div>Selected:<div class='s'> {{ !external_data_selected_6 ? '' : (external_data_selected_6 | json)  }}</div></div>