<h2><u>buttons design</u></h2>
<dp-button class="ui-button-dp p-mr-1" [definition]="btnDef1"></dp-button>
<dp-button class="ui-button-dp p-mr-1" [definition]="btnDef2"></dp-button>

<br><br>

<dp-splitbutton class="ui-button-dp p-mr-1"
    (click_)="save('info 11')" 
    [definition]=SplitBtnDef1
    [model]="items1"
></dp-splitbutton>

<br><br>

<dp-button class="ui-button-yellow" [definition]="btnDef2"></dp-button>


<br><br>

<h2><u>table desidn</u></h2>

<dp-table *ngIf="gridData3" [definition]="gridDefinition3" 
    [datasource]="gridData3"></dp-table>    

