<table class="HeaderTable1" cellspacing="5" dir={{direction}}>
    <tr>
        <td class="HeaderBG1">
            Entity No
            <!-- {{ 'coo.entityNo' | translate  }} -->
        </td>
        <td class="HeaderBG1">
            <label>
                {{entityNo}}
            </label>
        </td>
        <td width="1" class="HeaderTableDelimiter1">
            <img width="1" height="1">
        </td>
        <td>
            Coo Type
            <!-- {{ 'coo.cooType' | translate  }}: -->
        </td>
        <td class="HeaderBG2">
            <label>
                {{cooType}}
            </label>
        </td>
        <td width="1" class="HeaderTableDelimiter1">
            <img width="1" height="1">
        </td>
        <td>
            CUSDEC
            <!-- {{ 'coo.CUSDECFile' | translate  }}: -->
        </td>
        <td class="HeaderBG2">
            {{CUSDECFile}}
        </td>
        <td width="1" class="HeaderTableDelimiter1">
            <img width="1" height="1">
        </td>
        <td>
            Shipper
            <!-- {{ 'coo.shipper' | translate  }}: -->
        </td>
        <td class="HeaderBG2">
            {{shipper}}
        </td>
        <td width="1" class="HeaderTableDelimiter1">
            <img width="1" height="1">
        </td>
        <td>
            ETD
            <!-- {{ 'coo.ETD' | translate  }}: -->
        </td>
        <td class="HeaderBG2">
            {{ETD}}
        </td>
        <td width="1" class="HeaderTableDelimiter1">
            <img width="1" height="1">
        </td>
        <td>
            CUSGTW
            <!-- {{ 'coo.CUSGTW' | translate  }}: -->
        </td>
        <td class="HeaderBG2">
            {{CUSGTW}}
        </td>
    </tr>
    <tr>
        <td class="HeaderBG1">
            Coo Status
            <!-- {{ 'coo.cooStatus' | translate  }} -->
        </td>
        <td class="HeaderBG1">
            {{cooStatus}}
        </td>
        <td width="1" class="HeaderTableDelimiter1">
            <img width="1" height="1">
        </td>
        <td>
            Coo No
            <!-- {{ 'coo.cooNo' | translate  }}: -->
        </td>
        <td class="HeaderBG2">
            {{cooNo}}
        </td>
        <td width="1" class="HeaderTableDelimiter1">
            <img width="1" height="1">
        </td>
        <td>
            Destination
            <!-- {{ 'coo.destination' | translate  }}: -->
        </td>
        <td class="HeaderBG2">
            {{destination}}
        </td>
        <td width="1" class="HeaderTableDelimiter1">
            <img width="1" height="1">
        </td>
        <td>
            CNEE
            <!-- {{ 'coo.CNEE' | translate  }}: -->
        </td>
        <td class="HeaderBG2">
            {{CNEE}}
        </td>
        <td width="1" class="HeaderTableDelimiter1">
            <img width="1" height="1">
        </td>
        <td>
            ATD
            <!-- {{ 'coo.ATD' | translate  }}: -->
        </td>
        <td class="HeaderBG2">
            {{ATD}}
        </td>
    </tr>
</table>