<p-toolbar styleClass="p-mb-4">
    <div class="p-toolbar-group-left">
            <button pButton pRipple label="שמור" 
                
                icon="pi pi-save" 
                class="ui-button ui-button-dp p-mr-2"
            ></button>
            <button pButton pRipple label="aaaaaa" 
                
            icon="pi pi-save" 
            class="ui-button ui-button-dp p-mr-2"
            ></button>
            <button pButton pRipple label="bbbbbb" 
                
                icon="pi pi-save" 
                class="ui-button ui-button-dp p-mr-2"
            ></button>
            <button pButton pRipple label="cccccc" 
                
            icon="pi pi-save" 
            class="ui-button ui-button-dp p-mr-2"
            ></button>
            <button pButton pRipple label="dddddd" 
                
                icon="pi pi-save" 
                class="ui-button ui-button-dp p-mr-2"
            ></button>
            <button pButton pRipple label="eeeeee" 
                
            icon="pi pi-save" 
            class="ui-button ui-button-dp p-mr-2"
            ></button>                        
    </div>
</p-toolbar>
<table class="HeaderTable1" cellspacing="5">
    <tr>
        <td class="HeaderBG1">
            מספר תיק
        </td>
        <td class="HeaderBG1">
            <label>
                {{shipmentNumber}}
            </label>
        </td>   
        <td width="1" class="HeaderTableDelimiter1">
            <img width="1" height="1">
        </td>  
        <td>
            לקוח:
        </td>
        <td class="HeaderBG2">
            <label>
                {{customerName}}
            </label>
        </td>   
        <td width="1" class="HeaderTableDelimiter1">
            <img width="1" height="1">
        </td>    
        <td>
            מספר הצהרה:
        </td>
        <td class="HeaderBG2">
            {{declarationId}}
        </td>    
        <td width="1" class="HeaderTableDelimiter1">
            <img width="1" height="1">
        </td>    
        <td>
            סטטוס הצהרה:
        </td>
        <td class="HeaderBG2">
            {{declarationStatus}}
        </td>       
        <td width="1" class="HeaderTableDelimiter1">
            <img width="1" height="1">
        </td>    
        <td>
            תיק בתהליך:
        </td>
        <td>
            <dp-checkbox></dp-checkbox>
        </td>    
        <td>
            {{processTime}}
        </td>  
        <td>
            תצהיר יצואן:
        </td>
        <td>
            <!-- <dp-checkbox></dp-checkbox> -->
        </td>                                
    </tr>
    <tr>
        <td class="HeaderBG1">
            קוד תהליך
        </td>
        <td class="HeaderBG1">
            {{processCode}}
        </td>   
        <td width="1" class="HeaderTableDelimiter1">
            <img width="1" height="1">
        </td>    
        <td>
            צוות:
        </td>
        <td class="HeaderBG2">
            {{team}}
        </td>          
        <td width="1" class="HeaderTableDelimiter1">
            <img width="1" height="1">
        </td>    
        <td>
            גרסה:
        </td>
        <td class="HeaderBG2">
            {{version}}
        </td>   
        <td width="1" class="HeaderTableDelimiter1">
            <img width="1" height="1">
        </td>    
        <td>
            סטטוס לוגיסטי:
        </td>
        <td class="HeaderBG2">
            {{logisticStatus}}
        </td>  
        <td width="1" class="HeaderTableDelimiter1">
            <img width="1" height="1">
        </td>    
        <td>
            יצואן מאושר:
        </td>
        <td>
            <dp-checkbox></dp-checkbox>
        </td>  
        <td>
            יפוי כח:
        </td>
        <td>
            <dp-checkbox></dp-checkbox>
        </td>         
        <td>
            ארכיון דיגיטלי:
        </td>
        <td>
            <dp-checkbox></dp-checkbox>
        </td>                                             
    </tr>    
</table>