<p-toolbar styleClass="p-mb-4">
    <div class="p-toolbar-group-left">
            <button pButton pRipple label="שמור" 
                
                icon="pi pi-save" 
                class="ui-button ui-button-dp p-mr-2"
            ></button>
            <button pButton pRipple label="aaaaaa" 
                
            icon="pi pi-save" 
            class="ui-button ui-button-dp p-mr-2"
            ></button>
            <button pButton pRipple label="bbbbbb" 
                
                icon="pi pi-save" 
                class="ui-button ui-button-dp p-mr-2"
            ></button>
            <button pButton pRipple label="cccccc" 
                
            icon="pi pi-save" 
            class="ui-button ui-button-dp p-mr-2"
            ></button>
            <button pButton pRipple label="dddddd" 
                
                icon="pi pi-save" 
                class="ui-button ui-button-dp p-mr-2"
            ></button>
            <button pButton pRipple label="eeeeee" 
                
            icon="pi pi-save" 
            class="ui-button ui-button-dp p-mr-2"
            ></button>                        
    </div>
</p-toolbar>
<table class="HeaderTable1" cellspacing="5">
    <tr>
        <td class="HeaderBG1">
            {{ 'declaration.shipmentNumber' | translate  }}
        </td>
        <td class="HeaderBG1">
            <label>
                {{shipmentNumber}}
            </label>
        </td>   
        <td width="1" class="HeaderTableDelimiter1">
            <img width="1" height="1">
        </td>  
        <td>
            {{ 'declaration.customerName' | translate  }}:
        </td>
        <td class="HeaderBG2">
            <label>
                {{customerName}}
            </label>
        </td>   
        <td width="1" class="HeaderTableDelimiter1">
            <img width="1" height="1">
        </td>    
        <td>
            {{ 'declaration.declarationId' | translate  }}:
        </td>
        <td class="HeaderBG2">
            {{declarationId}}
        </td>    
        <td width="1" class="HeaderTableDelimiter1">
            <img width="1" height="1">
        </td>    
        <td>
            {{ 'declaration.declarationStatus' | translate  }}:
        </td>
        <td class="HeaderBG2">
            {{declarationStatus}}
        </td>       
        <td width="1" class="HeaderTableDelimiter1">
            <img width="1" height="1">
        </td>    
        <td>
            {{ 'declaration.isFileInProcess' | translate  }}:
        </td>
        <td>
            <dp-checkbox></dp-checkbox>
        </td>    
        <td>
            {{processTime}}
        </td>  
        <td>
            {{ 'declaration.isExporterDeposition' | translate  }}:
        </td>
        <td>
            <!-- <dp-checkbox></dp-checkbox> -->
        </td>                                
    </tr>
    <tr>
        <td class="HeaderBG1">
            {{ 'declaration.processCode' | translate  }}
        </td>
        <td class="HeaderBG1">
            {{processCode}}
        </td>   
        <td width="1" class="HeaderTableDelimiter1">
            <img width="1" height="1">
        </td>    
        <td>
            {{ 'declaration.team' | translate  }}:
        </td>
        <td class="HeaderBG2">
            {{team}}
        </td>          
        <td width="1" class="HeaderTableDelimiter1">
            <img width="1" height="1">
        </td>    
        <td>
            {{ 'declaration.version' | translate  }}:
        </td>
        <td class="HeaderBG2">
            {{version}}
        </td>   
        <td width="1" class="HeaderTableDelimiter1">
            <img width="1" height="1">
        </td>    
        <td>
            {{ 'declaration.logisticStatus' | translate  }}:
        </td>
        <td class="HeaderBG2">
            {{logisticStatus}}
        </td>  
        <td width="1" class="HeaderTableDelimiter1">
            <img width="1" height="1">
        </td>    
        <td>
            {{ 'declaration.isApprovedExporter' | translate  }}:
        </td>
        <td>
            <dp-checkbox></dp-checkbox>
        </td>  
        <td>
            {{ 'declaration.isAuthorized' | translate  }}:
        </td>
        <td>
            <dp-checkbox></dp-checkbox>
        </td>         
        <td>
            {{ 'declaration.isDigitallyArchived' | translate  }}:
        </td>
        <td>
            <dp-checkbox></dp-checkbox>
        </td>                                             
    </tr>    
</table>