<h2>שאילתת תיקים</h2>
<!-- Template Driven -->
<!-- <form name="form" (ngSubmit)="f.valid && onSubmit(f)" #f="ngForm" >   -->
<!--novalidate  vs ngNativeValidate -->


<!-- <form name="form" (ngSubmit)="onSubmit(f)" #f="ngForm" >    -->
<form #myForm="ngForm" (ngSubmit)="onSubmit(myForm.value)" class="frmShipmentsQuery" 
    [ngStyle]="{'display':isShowParams === true ? 'block' : 'none' }">
    
    <dp-button class="ui-button-dp" [definition]="btnDef1"></dp-button>
    <br><br>
    <div class="p-grid">
        <div class="p-col-12 p-md-12">
            <p-fieldset [collapsed]="collapsed1" [toggleable]="true" legend="">
                <div class="p-grid">
                    <div class="p-col-12 p-md-4 was6">
                        <div class="p-grid">
                            <div class="p-col-12 p-md-3">
                                <!-- [definition]="InputTextDefDis" -->
                                {{'department' | translate}}
                            </div>
                            <div class="p-col-12 p-md-5">
                                <!-- [ngModel]="dataForAc1[0]" -->
                                <!-- *ngIf="dataForAc1" -->
                                <dp-autocomplete [initVal]="" name="department" [definition]="acDefDepartment"
                                    [datasource]="dataForAc1" (getSelected)="handleAcResult($event, 4)" required
                                    class="dpTempYellow">
                                </dp-autocomplete>
                            </div>
                            <div class="p-col-12 p-md-3">
                                cccccc
                            </div>
                        </div>
                        <div class="p-grid">
                            <div class="p-col-12 p-md-3">
                                {{'team' | translate}}
                            </div>
                            <div class="p-col-12 p-md-5">
                                <dp-autocomplete *ngIf="exportassistService.teamsList" 
                                    name="OperationTeam"
                                    [ngModel]="team"
                                    [definition]="acDefOperationTeam"
                                    [datasource]="exportassistService.teamsList">
                                </dp-autocomplete>

                                <!-- 
        <dp-autocomplete [required]="true" [datasource]="ac_suggestions" 
        name="country" [ngModel]="ac_suggestions[0]"></dp-autocomplete> -->

                                <!-- <dp-inputtext name="team" [(ngModel)]="model.team"></dp-inputtext>  required  -->
                            </div>
                            <div class="p-col-12 p-md-3">
                                cccccc
                            </div>
                        </div>
                        <div class="p-grid">
                            <div class="p-col-12 p-md-3">
                                {{'shipmentNumber' | translate}}
                            </div>
                            <div class="p-col-12 p-md-5">
                                <dp-inputtext name="ShipmentNumber" [(ngModel)]="model.ShipmentNumber"
                                    class="dpTempYellow"></dp-inputtext>
                            </div>
                            <div class="p-col-12 p-md-3">
                                cccccc
                            </div>
                        </div>
                    </div>
                    <div class="p-col-12 p-md-4 was6">
                        <div class="p-grid">
                            <div class="p-col-12 p-md-3">
                                <!-- Set Report   
                                יאופיין בהמשך - לאחר שהביזנס יבצע טסטים ויוכל לבקש סטים מובנים מראש 
                                יתכן ולא יהיה שימוש בנושא -->
                            </div>
                            <div class="p-col-12 p-md-5">
                                <!-- <dp-inputtext name="email" [(ngModel)]="model.set_report"></dp-inputtext> -->
                            </div>
                            <div class="p-col-12 p-md-3">

                            </div>
                        </div>
                        <div class="p-grid">
                            <div class="p-col-12 p-md-3">

                            </div>
                            <div class="p-col-12 p-md-5">
                                
                            </div>
                            <div class="p-col-12 p-md-3">
                               
                            </div>
                        </div>
                    </div>
                </div>
            </p-fieldset>
        </div>
    </div>




    <div class="p-grid">
        <div class="p-col-12 p-md-12">
            <p-fieldset [collapsed]="collapsed2" [toggleable]="true" legend="{{'dates' | translate}}">
                <div class="p-grid">
                    <div class="p-col-12 p-md-5 was6">
                        <div class="p-grid">
                            <div class="p-col-12 p-md-3">
                                {{'fromOpenDate' | translate}}
                            </div>
                            <div class="p-col-12 p-md-5 form-control">
                                <dp-calendar 
                                    name="openDateFrom" 
                                    [definition]="CalendarDefFromOpenDate"
                                    class="dpTempYellow"
                                    [ngModel]="fromOpenDate"                                    
                                ></dp-calendar>
                            </div>
                            <div class="p-col-12 p-md-3">

                            </div>
                        </div>
                        <div class="p-grid">
                            <div class="p-col-12 p-md-3">
                                {{'fromEtdDate' | translate}}
                            </div>
                            <div class="p-col-12 p-md-5">
                                <dp-calendar 
                                    name="EtdDateFrom" 
                                    [definition]="CalendarDefFromETD"
                                    class="dpTempYellow"
                                    [ngModel]="model.fromEtd"                                    
                                ></dp-calendar>
                            </div>
                            <div class="p-col-12 p-md-3">

                            </div>
                        </div>
                        <div class="p-grid">
                            <div class="p-col-12 p-md-3">
                                {{'fromAtdDate' | translate}}
                            </div>
                            <div class="p-col-12 p-md-5">    
                                <dp-calendar 
                                    name="AtdDateFrom" 
                                    [definition]="CalendarDefFromATD"
                                    class="dpTempYellow"
                                    [ngModel]="model.fromAtd"                                    
                                ></dp-calendar>
                            </div>
                            <div class="p-col-12 p-md-3">

                            </div>
                        </div>
                    </div>
                    <div class="p-col-12 p-md-5 was6">
                        <div class="p-grid">
                            <div class="p-col-12 p-md-3">
                                {{'toOpenDate' | translate}}
                            </div>
                            <div class="p-col-12 p-md-5">
                                <dp-calendar 
                                    name="openDateTo" 
                                    [definition]="CalendarDefToOpenDate"
                                    class="dpTempYellow"
                                    [ngModel]="toOpenDate"                                
                                ></dp-calendar>
                            </div>
                            <div class="p-col-12 p-md-3">
                                cccccc
                            </div>
                        </div>
                        <div class="p-grid">
                            <div class="p-col-12 p-md-3">
                                {{'toEtdDate' | translate}}
                            </div>
                            <div class="p-col-12 p-md-5">
                                <dp-calendar 
                                    name="EtdDateTo" 
                                    [definition]="CalendarDefToETD"
                                    class="dpTempYellow"
                                    [ngModel]="model.ToEtd"                               
                                ></dp-calendar>

                            </div>
                            <div class="p-col-12 p-md-3">
                                cccccc
                            </div>
                        </div>
                        <div class="p-grid">
                            <div class="p-col-12 p-md-3">
                                {{'toAtdDate' | translate}}
                            </div>
                            <div class="p-col-12 p-md-5">
                                <dp-calendar 
                                    name="AtdDateTo" 
                                    [definition]="CalendarDefToATD"
                                    class="dpTempYellow"
                                    [ngModel]="model.ToAtd"                               
                                ></dp-calendar>
                            </div>
                            <div class="p-col-12 p-md-3">
                                cccccc
                            </div>
                        </div>
                    </div>
                </div>
            </p-fieldset>
        </div>
    </div>




    <div class="p-grid">
        <div class="p-col-12 p-md-12">
            <p-fieldset [collapsed]="collapsed3" [toggleable]="true" legend="יישויות">
                <div class="p-grid">
                    <div class="p-col-12 p-md-5 was6">
                        <div class="p-grid">
                            <div class="p-col-12 p-md-3">
                                {{ 'operationalCustomer' | translate}}
                            </div>
                            <div class="p-col-12 p-md-5 form-control">

                                <dp-autocomplete                                                    
                                                                [definition]="acDefOperationalCustomer"  
                                                                [datasource]="exportassistService.customersList"
                                                                (getSelected)="handleAcResult($event,3)"
                                                                ></dp-autocomplete>

                            </div>
                            <div class="p-col-12 p-md-3">

                            </div>
                        </div>
                        <div class="p-grid">
                            <div class="p-col-12 p-md-3">
                                {{ 'bindingCustomer' | translate}}
                            </div>
                            <div class="p-col-12 p-md-5">

                                <dp-autocomplete                                                    
                                                                [definition]="acDefBindingCustomer"  
                                                                [datasource]="exportassistService.customersList"
                                                                (getSelected)="handleAcResult($event,4)"
                                                                ></dp-autocomplete>

                            </div>
                            <div class="p-col-12 p-md-3">

                            </div>
                        </div>


                        <div class="p-grid">
                            <div class="p-col-12 p-md-3">
                                {{'exporterBnNumber' | translate}}
                            </div>
                            <div class="p-col-12 p-md-5">
                                <!-- <dp-inputtext name="exporterBnNumber1" [(ngModel)]="model.exporterBnNumber1"
                                    class="dpTempYellow"></dp-inputtext> -->
                                    <p-chips name="exporterBnNumber" [ngModel]="exporterBnNumber"></p-chips>
                            </div>
                            <div class="p-col-12 p-md-3">
    
                            </div>
                        </div>

                        


                        <div class="p-grid">
                            <div class="p-col-12 p-md-3">
                                {{'exporterBnNumber' | translate}}
                            </div>
                            <div class="p-col-12 p-md-5">
                                <dp-inputtext name="exporterBnNumber1" [(ngModel)]="model.exporterBnNumber1"
                                    class="dpTempYellow"></dp-inputtext>
                            </div>
                            <div class="p-col-12 p-md-3"
                                [ngStyle]="{'display':isCloseMoreExporterBnNumbers === true ? 'block' : 'none' }">
                                <a style="cursor: pointer;" (click)="showMoreExporterBnNumbers()">
                                    <span class="cssPrimary">{{'more' | translate}} ... </span>
                                    <fa-icon [icon]="faChevronDown" size="lg" class="cssPrimary"></fa-icon>
                                </a>
                            </div>
                        </div>


                        <div class="p-grid"
                            [ngStyle]="{'display':isCloseMoreExporterBnNumbers === false ? 'flex' : 'none' }">
                            <div class="p-col-12 p-md-4">
                                <dp-inputtext name="exporterBnNumber2" [(ngModel)]="model.exporterBnNumber2"
                                    class="dpTempYellow"></dp-inputtext>
                            </div>
                            <div class="p-col-12 p-md-4">
                                <dp-inputtext name="exporterBnNumber3" [(ngModel)]="model.exporterBnNumber3"
                                    class="dpTempYellow"></dp-inputtext>
                            </div>
                            <div class="p-col-12 p-md-4">
                                <dp-inputtext name="exporterBnNumber4" [(ngModel)]="model.exporterBnNumber4"
                                    class="dpTempYellow"></dp-inputtext>
                            </div>
                        </div>
                        <div class="p-grid"
                            [ngStyle]="{'display':isCloseMoreExporterBnNumbers === false ? 'flex' : 'none' }">
                            <div class="p-col-12 p-md-4">
                                <dp-inputtext name="exporterBnNumber5" [(ngModel)]="model.exporterBnNumber5"
                                    class="dpTempYellow"></dp-inputtext>
                            </div>
                            <div class="p-col-12 p-md-4">
                                <dp-inputtext name="exporterBnNumber6" [(ngModel)]="model.exporterBnNumber6"
                                    class="dpTempYellow"></dp-inputtext>
                            </div>
                            <div class="p-col-12 p-md-4">
                                <dp-inputtext name="exporterBnNumber7" [(ngModel)]="model.exporterBnNumber7"
                                    class="dpTempYellow"></dp-inputtext>
                            </div>
                        </div>
                        <div class="p-grid"
                            [ngStyle]="{'display':isCloseMoreExporterBnNumbers === false ? 'flex' : 'none' }">
                            <div class="p-col-12 p-md-4">
                                <dp-inputtext name="exporterBnNumber8" [(ngModel)]="model.exporterBnNumber8"
                                    class="dpTempYellow"></dp-inputtext>
                            </div>
                            <div class="p-col-12 p-md-4">
                                <dp-inputtext name="exporterBnNumber9" [(ngModel)]="model.exporterBnNumber9"
                                    class="dpTempYellow"></dp-inputtext>
                            </div>
                            <div class="p-col-12 p-md-4">
                                <dp-inputtext name="exporterBnNumber10" [(ngModel)]="model.exporterBnNumber10"
                                    class="dpTempYellow"></dp-inputtext>
                            </div>
                        </div>
                        <div class="p-grid"
                            [ngStyle]="{'display':isCloseMoreExporterBnNumbers === false ? 'flex' : 'none' }">
                            <div class="p-col-12 p-md-4">

                            </div>
                            <div class="p-col-12 p-md-4">

                            </div>
                            <div class="p-col-12 p-md-4">
                                <a style="cursor: pointer;" (click)="showLessExporterBnNumbers()">
                                    <span class="cssPrimary">{{'less' | translate}} ... </span>
                                    <fa-icon [icon]="faChevronUp" size="lg" class="cssPrimary"></fa-icon>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="p-col-12 p-md-5 was6">
                        <div class="p-grid">
                            <div class="p-col-12 p-md-3">
                                CSSV
                            </div>
                            <div class="p-col-12 p-md-5">
                                <!--  [datasource]="exportassistService.countriesList" -->
                                <dp-autocomplete                                                    
                                                                [definition]="acDefCssv"                              
                                                                (getSelected)="handleAcResult($event,18)"
                                                            ></dp-autocomplete>
                            </div>
                            <div class="p-col-12 p-md-3">
                                cccccc
                            </div>
                        </div>
                        <div class="p-grid">
                            <div class="p-col-12 p-md-3">
                                {{'goodsReceiver' | translate}}
                            </div>
                            <div class="p-col-12 p-md-5">
                                <dp-inputtext name="GoodsReceiver" [(ngModel)]="model.GoodsReceiver"
                                    class="dpTempYellow"></dp-inputtext>
                            </div>
                            <div class="p-col-12 p-md-3">
                                cccccc
                            </div>
                        </div>
                        <div class="p-grid">
                            <div class="p-col-12 p-md-3">

                            </div>
                            <div class="p-col-12 p-md-5">

                            </div>
                            <div class="p-col-12 p-md-3">

                            </div>
                        </div>
                    </div>
                </div>
            </p-fieldset>
        </div>
    </div>


    <div class="p-grid">
        <div class="p-col-12 p-md-12">
            <p-fieldset [collapsed]="collapsed4" [toggleable]="true" legend="{{'declarationData' | translate}}">
                <div class="p-grid">
                    <div class="p-col-12 p-md-5 was6">
                        <div class="p-grid">
                            <div class="p-col-12 p-md-3">
                                {{'declarationId' | translate}}
                            </div>
                            <div class="p-col-12 p-md-5">
                                <dp-inputtext name="DeclarationID" [(ngModel)]="DeclarationID"
                                    class="dpTempYellow"></dp-inputtext>
                            </div>
                            <div class="p-col-12 p-md-3">

                            </div>
                        </div>
                        <div class="p-grid">
                            <div class="p-col-12 p-md-3">
                                {{'declarationType' | translate}}
                            </div>
                            <div class="p-col-12 p-md-5">
                                <dp-autocomplete [initVal]="" name="dp6" [definition]="acDefDeclarationType"
                                    [datasource]="dataForAc6" (getSelected)="handleAcResult($event, 6)"
                                    [ngModel]="acDataSelected6" class="dpTempYellow">
                                </dp-autocomplete>
                            </div>
                            <div class="p-col-12 p-md-3">

                            </div>
                        </div>
                        <div class="p-grid">
                            <div class="p-col-12 p-md-3">
                                {{'processCode' | translate}}aaaaa
                            </div>
                            <div class="p-col-12 p-md-5">
                                <dp-autocomplete [initVal]="" name="dp7" [definition]="acDefProcessCode"
                                    [datasource]="dataForAc7" (getSelected)="handleAcResult($event, 7)"
                                    [ngModel]="acDataSelected7" class="dpTempYellow">
                                </dp-autocomplete>
                            </div>
                            <div class="p-col-12 p-md-3">

                            </div>
                        </div>
                        <div class="p-grid">
                            <div class="p-col-12 p-md-3">
                                {{'customsHouseExports' | translate}}
                            </div>
                            <div class="p-col-12 p-md-5">
                                <dp-autocomplete [initVal]="" name="dp8" [definition]="acDefCustomsHouseExports"
                                    [datasource]="dataForAc8" (getSelected)="handleAcResult($event, 8)"
                                    [ngModel]="acDataSelected8" class="dpTempYellow">
                                </dp-autocomplete>
                            </div>
                            <div class="p-col-12 p-md-3">

                            </div>
                        </div>
                        <div class="p-grid">
                            <div class="p-col-12 p-md-3">
                                {{'cargoId' | translate}}
                            </div>
                            <div class="p-col-12 p-md-5">
                                <dp-inputtext name="CargoId" [(ngModel)]="model.CargoId" class="dpTempYellow">
                                </dp-inputtext>
                            </div>
                            <div class="p-col-12 p-md-3">

                            </div>
                        </div>
                        <div class="p-grid">
                            <div class="p-col-12 p-md-3">
                                {{'cargoIdType' | translate}}
                            </div>
                            <div class="p-col-12 p-md-5">
                                <dp-autocomplete [initVal]="" name="dp9" [definition]="acDefCargoIdType"
                                    [datasource]="dataForAc9" (getSelected)="handleAcResult($event, 9)"
                                    [ngModel]="acDataSelected9" class="dpTempYellow">
                                </dp-autocomplete>
                            </div>
                            <div class="p-col-12 p-md-3">

                            </div>
                        </div>
                        <div class="p-grid">
                            <div class="p-col-12 p-md-3">
                                {{'incoterms' | translate}}
                            </div>
                            <div class="p-col-12 p-md-5">
                                <dp-autocomplete [initVal]="" name="dp10" [definition]="acDefIncoterms"
                                    [datasource]="dataForAc10" (getSelected)="handleAcResult($event, 10)"
                                    [ngModel]="acDataSelected10" class="dpTempYellow">
                                </dp-autocomplete>
                            </div>
                            <div class="p-col-12 p-md-3">

                            </div>
                        </div>

                        <div class="p-grid">
                            <div class="p-col-12 p-md-3">
                                {{'preferenceDocument' | translate}}
                            </div>
                            <div class="p-col-12 p-md-5">
                                <!--  [datasource]="exportassistService.countriesList" -->
                                <dp-autocomplete                                                    
                                                                [definition]="acDefPreferenceDocument"  
                                                               
                                                                (getSelected)="handleAcResult($event,17)"
                                                            ></dp-autocomplete>
                            </div>
                            <div class="p-col-12 p-md-3">

                            </div>
                        </div>

                    </div>
                    <div class="p-col-12 p-md-5 was6">
                        <div class="p-grid">
                            <div class="p-col-12 p-md-3">

                            </div>
                            <div class="p-col-12 p-md-5">

                            </div>
                            <div class="p-col-12 p-md-3">

                            </div>
                        </div>
                        <div class="p-grid">
                            <div class="p-col-12 p-md-3">

                            </div>
                            <div class="p-col-12 p-md-5">

                            </div>
                            <div class="p-col-12 p-md-3">

                            </div>
                        </div>

                        <div class="p-grid">
                            <div class="p-col-12 p-md-3">
                                {{'storageSiteType' | translate}}
                            </div>
                            <div class="p-col-12 p-md-5">
                                <dp-autocomplete [initVal]="" name="dp11" [definition]="acDefStorageSiteType"
                                    [datasource]="dataForAc11" (getSelected)="handleAcResult($event, 11)"
                                    [ngModel]="acDataSelected11" class="dpTempYellow">
                                </dp-autocomplete>
                            </div>
                            <div class="p-col-12 p-md-3">
                                cccccc
                            </div>
                        </div>
                        <div class="p-grid">
                            <div class="p-col-12 p-md-3">
                                {{'storageSiteCode' | translate}}
                            </div>
                            <div class="p-col-12 p-md-5">
                                <dp-autocomplete [initVal]="" name="dp12" [definition]="acDefStorageSiteCode"
                                    [datasource]="dataForAc12" (getSelected)="handleAcResult($event, 12)"
                                    [ngModel]="acDataSelected12" class="dpTempYellow">
                                </dp-autocomplete>
                            </div>
                            <div class="p-col-12 p-md-3">
                                cccccc
                            </div>
                        </div>
                        <div class="p-grid">
                            <div class="p-col-12 p-md-3">
                                {{'internalPassages' | translate}}
                            </div>
                            <div class="p-col-12 p-md-5">
                                <dp-autocomplete [initVal]="" name="dp12" [definition]="acDefInternalPassages"
                                    [datasource]="dataForAc13" (getSelected)="handleAcResult($event, 13)"
                                    [ngModel]="acDataSelected13" class="dpTempYellow">
                                </dp-autocomplete>
                            </div>
                            <div class="p-col-12 p-md-3">
                                cccccc
                            </div>
                        </div>
                        <div class="p-grid">
                            <div class="p-col-12 p-md-3">
                                {{'declarationSiteLocation' | translate}}
                            </div>
                            <div class="p-col-12 p-md-5">
                                <dp-inputtext name="DeclarationSiteLocation" [(ngModel)]="model.DeclarationSiteLocation"
                                    class="dpTempYellow"></dp-inputtext>
                            </div>
                            <div class="p-col-12 p-md-3">
                                cccccc
                            </div>
                        </div>
                        <div class="p-grid">
                            <div class="p-col-12 p-md-3">

                            </div>
                            <div class="p-col-12 p-md-5">

                            </div>
                            <div class="p-col-12 p-md-3">

                            </div>
                        </div>


                    </div>
                </div>
            </p-fieldset>
        </div>
    </div>


    <div class="p-grid">
        <div class="p-col-12 p-md-12">
            <p-fieldset [collapsed]="collapsed5" [toggleable]="true" legend="{{'destination' | translate}}">
                <div class="p-grid">
                    <div class="p-col-12 p-md-5 was6">
                        <div class="p-grid">
                            <div class="p-col-12 p-md-3">
                                {{'destinationCountry' | translate}}
                            </div>
                            <div class="p-col-12 p-md-5">

                                <dp-autocomplete                                                    
                                                                [definition]="acDefDestinationCountry"  
                                                                [datasource]="exportassistService.countriesList"
                                                                (getSelected)="handleAcResult($event,11)"
                                                                ></dp-autocomplete>
                                 
                            </div>
                            <div class="p-col-12 p-md-3">
                                cccccc
                            </div>
                        </div>
                        <div class="p-grid">
                            <div class="p-col-12 p-md-3">
                                {{'continent' | translate}}
                            </div>
                            <div class="p-col-12 p-md-5">

                                <!--  [datasource]="exportassistService.countriesList" -->
                                <dp-autocomplete                                                    
                                                                [definition]="acDefContinent"  
                                                               
                                                                (getSelected)="handleAcResult($event,12)"
                                                                ></dp-autocomplete>

                            </div>
                            <div class="p-col-12 p-md-3">
                                cccccc
                            </div>
                        </div>


                    </div>
                    <div class="p-col-12 p-md-5 was6">
                        <div class="p-grid">
                            <div class="p-col-12 p-md-3">

                            </div>
                            <div class="p-col-12 p-md-5">

                            </div>
                            <div class="p-col-12 p-md-3">

                            </div>
                        </div>
                    </div>
                </div>
            </p-fieldset>
        </div>
    </div>



    <div class="p-grid">
        <div class="p-col-12 p-md-12">
            <p-fieldset [collapsed]="collapsed6" [toggleable]="true" legend="{{'additionalData' | translate}}">
                <div class="p-grid">
                    <div class="p-col-12 p-md-4 was6">
                        <div class="p-grid">
                            <div class="p-col-12 p-md-3">


                                {{'shipmentType' | translate}}
                            </div>
                            <div class="p-col-12 p-md-5">

                                <!--  [datasource]="exportassistService.countriesList" -->
                                <dp-autocomplete                                                    
                                                                [definition]="acDefShipmentType"  
                                                               
                                                                (getSelected)="handleAcResult($event,13)"
                                                            ></dp-autocomplete>

                            </div>
                            <div class="p-col-12 p-md-3">
                                cccccc
                            </div>
                        </div>
                        <div class="p-grid">
                            <div class="p-col-12 p-md-3">
                                {{'incidentallyPprotest' | translate}}
                            </div>
                            <div class="p-col-12 p-md-5">
                                <!--  [datasource]="exportassistService.countriesList" -->
                                <dp-autocomplete                                                    
                                                                [definition]="acDefIncidentallyPprotest"  
                                                               
                                                                (getSelected)="handleAcResult($event,14)"
                                                            ></dp-autocomplete>
                            </div>
                            <div class="p-col-12 p-md-3">
                                cccccc
                            </div>
                        </div>
                        <div class="p-grid">
                            <div class="p-col-12 p-md-3">
                                {{'aInitiated' | translate}}
                            </div>
                            <div class="p-col-12 p-md-5">
                                <!--  [datasource]="exportassistService.countriesList" -->
                                <dp-autocomplete                                                    
                                                                [definition]="acDefAInitiated"  
                                                               
                                                                (getSelected)="handleAcResult($event,15)"
                                                            ></dp-autocomplete>
                            </div>
                            <div class="p-col-12 p-md-3">
                                cccccc
                            </div>
                        </div>
                    </div>

                    <div class="p-col-12 p-md-4 was6">

                    </div>
                </div>
            </p-fieldset>
        </div>
    </div>


    <div class="p-grid">
        <div class="p-col-12 p-md-12">
            <p-fieldset [toggleable]="true" [collapsed]="collapsed7" legend="{{'dataForSearch' | translate}}">
                <div class="p-grid">
                    <div class="p-col-12 p-md-4 was6">

                        <div class="p-grid">
                            <div class="p-col-12 p-md-3">

                                {{'generalSearch' | translate}}
                            </div>
                            <div class="p-col-12 p-md-5">
                                <dp-inputtext name="generalSearch" [(ngModel)]="model.generalSearch"
                                    class="dpTempYellow"></dp-inputtext>
                            </div>
                            <div class="p-col-12 p-md-3">
                                cccccc
                            </div>
                        </div>
                        <div class="p-grid">
                            <div class="p-col-12 p-md-3">

                                {{'referenceNo' | translate}}
                            </div>
                            <div class="p-col-12 p-md-5">
                                <dp-inputtext name="referenceNo" [(ngModel)]="model.referenceNo" class="dpTempYellow">
                                </dp-inputtext>
                            </div>
                            <div class="p-col-12 p-md-3">
                                cccccc
                            </div>
                        </div>
                        <div class="p-grid">
                            <div class="p-col-12 p-md-3">

                                {{'referenceType' | translate}}
                            </div>
                            <div class="p-col-12 p-md-5">
                                <!--  [datasource]="exportassistService.countriesList" -->
                                <dp-autocomplete                                                    
                                                                [definition]="acDefReferenceType"  
                                                               
                                                                (getSelected)="handleAcResult($event,16)"
                                                            ></dp-autocomplete>
                            </div>
                            <div class="p-col-12 p-md-3">
                                cccccc
                            </div>
                        </div>
                        <div class="p-grid">
                            <div class="p-col-12 p-md-3">
                                {{'waybillNumber' | translate}}
                            </div>
                            <div class="p-col-12 p-md-5">
                                <dp-inputtext name="SHMPNumber" [(ngModel)]="model.SHMPNumber" class="dpTempYellow">
                                </dp-inputtext>
                            </div>
                            <div class="p-col-12 p-md-3">
                                cccccc
                            </div>
                        </div>
                        <div class="p-grid">
                            <div class="p-col-12 p-md-3">
                                {{'containerNumber' | translate}}
                            </div>
                            <div class="p-col-12 p-md-5">
                                <dp-inputtext name="containerNumber" [(ngModel)]="model.containerNumber"
                                    class="dpTempYellow"></dp-inputtext>
                            </div>
                            <div class="p-col-12 p-md-3">
                                cccccc
                            </div>
                        </div>
                        <div class="p-grid">
                            <div class="p-col-12 p-md-3">
                                {{'storageCertificateNumber' | translate}}
                            </div>
                            <div class="p-col-12 p-md-5">
                                <dp-inputtext name="storageCertificateNumber"
                                    [(ngModel)]="model.storageCertificateNumber" class="dpTempYellow"></dp-inputtext>
                            </div>
                            <div class="p-col-12 p-md-3">
                                cccccc
                            </div>
                        </div>
                        <div class="p-grid">
                            <div class="p-col-12 p-md-3">
                                {{'relatedDeclarationNumber' | translate}}
                            </div>
                            <div class="p-col-12 p-md-5">
                                <dp-inputtext name="relatedDeclarationNumber"
                                    [(ngModel)]="model.relatedDeclarationNumber" class="dpTempYellow"></dp-inputtext>
                            </div>
                            <div class="p-col-12 p-md-3">
                                cccccc
                            </div>
                        </div>
                        <div class="p-grid">
                            <div class="p-col-12 p-md-3">

                                {{'fundTransactionNumber' | translate}}
                            </div>
                            <div class="p-col-12 p-md-5">
                                <dp-inputtext name="fundTransactionNumber" [(ngModel)]="model.fundTransactionNumber"
                                    class="dpTempYellow"></dp-inputtext>
                            </div>
                            <div class="p-col-12 p-md-3">
                                cccccc
                            </div>
                        </div>
                        <div class="p-grid">
                            <div class="p-col-12 p-md-3">

                                {{'cooFormNumber' | translate}}
                            </div>
                            <div class="p-col-12 p-md-5">
                                <dp-inputtext name="cooFormNumber" [(ngModel)]="model.cooFormNumber"
                                    class="dpTempYellow"></dp-inputtext>
                            </div>
                            <div class="p-col-12 p-md-3">
                                cccccc
                            </div>
                        </div>
                        <div class="p-grid">
                            <div class="p-col-12 p-md-3">

                                {{'numberOfStatementsPerCaseGreaterThan' | translate}}
                            </div>
                            <div class="p-col-12 p-md-5">
                                <dp-inputnumber [definition]="InputNumberDef"
                                    name="numberOfStatementsPerCaseGreaterThan"
                                    [(ngModel)]="model.numberOfStatementsPerCaseGreaterThan" class="dpTempYellow">
                                </dp-inputnumber>
                            </div>
                            <div class="p-col-12 p-md-3">
                                cccccc
                            </div>
                        </div>

                    </div>
                    <!-- <div class="p-col-12 p-md-4 was6">
                        <div class="p-grid">
                            <div class="p-col-12 p-md-3">
                                
                            </div>
                            <div class="p-col-12 p-md-5">
                               
                            </div>
                            <div class="p-col-12 p-md-3">
                                
                            </div>
                        </div>
                        <div class="p-grid">
                            <div class="p-col-12 p-md-3">
                                
                            </div>
                            <div class="p-col-12 p-md-5">
                               
                            </div>
                            <div class="p-col-12 p-md-3">
                                
                            </div>
                        </div>                        
                    </div> -->
                </div>
            </p-fieldset>
        </div>
    </div>

    
    <div class="p-grid">
        <div class="p-col-12 p-md-12">
            <p-fieldset [toggleable]="true" [collapsed]="collapsed8" legend="{{'dataForSearch' | translate}}">
                <div class="p-grid">
                    <div class="p-col-12 p-md-12 was6">        
                        <!-- [datasource]="declarationService.declarationData.DeclarationBox.ReferenceList" -->
                        <!-- <dp-table 
                            tableId="tblEventsParams"
                            [definition]="gridDefinition"
                            [datasource]=""
                         ></dp-table>                       -->
                    </div>
                </div>
            </p-fieldset>
        </div>
    </div>


    <div class="p-grid">
        <div class="p-col-12 p-md-12">
            <p-fieldset [toggleable]="true" [collapsed]="collapsed8" legend="{{'dataForSearch' | translate}}">
                <div class="p-grid">
                    <div class="p-col-12 p-md-12 was6">
                        <div class="p-grid">
                            <div id="tblEventsInShipmentsQueryCont">
                                <table id="tblEventsInShipmentsQuery">
                                    <thead>
                                        <tr>
                                            <th>{{'event' | translate}}</th>
                                            <th class="cssShortTd">{{'included' | translate}} / {{'notIncluded' |
                                                translate}} </th>
                                            <th>{{'fromEventDate' | translate}}</th>
                                            <th>{{'toEventDate' | translate}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <dp-autocomplete                                                    
                                                    [definition]="acDefEvent1"                                                                             
                                                    (getSelected)="handleAcResult($event,19)"
                                                    [datasource]="exportassistService.eventCodesList"
                                                ></dp-autocomplete>
                                            </td>
                                            <td>
                                                <!-- [definition]="checkboxDefinitions" -->
                                                <dp-checkbox name="chkEventIncluded1" [ngModel]="model.EventIncluded1">
                                                </dp-checkbox>
                                            </td>
                                            <td>
                                                <dp-calendar name="fromEventDate1"
                                                    [definition]="CalendarDefFromEventDate1"
                                                    [(ngModel)]="model.fromEventDate1"></dp-calendar>
                                            </td>
                                            <td>
                                                <dp-calendar name="toEventDate1" [definition]="CalendarDefToEventDate1"
                                                    [(ngModel)]="model.toEventDate1"></dp-calendar>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <dp-autocomplete                                                    
                                                    [definition]="acDefEvent2"  
                                                    (getSelected)="handleAcResult($event,20)"
                                                ></dp-autocomplete>
                                            </td>
                                            <td>
                                                <!-- [definition]="checkboxDefinitions" -->
                                                <dp-checkbox name="chkEventIncluded2" [ngModel]="model.EventIncluded2">
                                                </dp-checkbox>
                                            </td>
                                            <td>
                                                <dp-calendar name="fromEventDate2"
                                                    [definition]="CalendarDefFromEventDate2"
                                                    [(ngModel)]="model.fromEventDate2"></dp-calendar>
                                            </td>
                                            <td>
                                                <dp-calendar name="toEventDate2" [definition]="CalendarDefToEventDate2"
                                                    [(ngModel)]="model.toEventDate2"></dp-calendar>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <dp-autocomplete                                                    
                                                    [definition]="acDefEvent3"                                                                                 
                                                    (getSelected)="handleAcResult($event,21)"
                                                ></dp-autocomplete>
                                            </td>
                                            <td>
                                                <!-- [definition]="checkboxDefinitions" -->
                                                <dp-checkbox name="chkEventIncluded3" [ngModel]="model.EventIncluded3">
                                                </dp-checkbox>
                                            </td>
                                            <td>
                                                <dp-calendar name="fromEventDate3"
                                                    [definition]="CalendarDefFromEventDate3"
                                                    [(ngModel)]="model.fromEventDate3"></dp-calendar>
                                            </td>
                                            <td>
                                                <dp-calendar name="toEventDate3" [definition]="CalendarDefToEventDate3"
                                                    [(ngModel)]="model.toEventDate3"></dp-calendar>
                                            </td>
                                        </tr>


                                        <tr>
                                            <td>
                                                <dp-autocomplete                                                    
                                                    [definition]="acDefEvent4"                                                                         
                                                    (getSelected)="handleAcResult($event,22)"
                                                ></dp-autocomplete>
                                            </td>
                                            <td>
                                                <!-- [definition]="checkboxDefinitions" -->
                                                <dp-checkbox name="chkEventIncluded4" [ngModel]="model.EventIncluded4">
                                                </dp-checkbox>
                                            </td>
                                            <td>
                                                <dp-calendar name="fromEventDate4"
                                                    [definition]="CalendarDefFromEventDate4"
                                                    [(ngModel)]="model.fromEventDate4"></dp-calendar>
                                            </td>
                                            <td>
                                                <dp-calendar name="toEventDate4" [definition]="CalendarDefToEventDate4"
                                                    [(ngModel)]="model.toEventDate4"></dp-calendar>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <dp-autocomplete                                                    
                                                    [definition]="acDefEvent5"                                                                             
                                                    (getSelected)="handleAcResult($event,23)"
                                                ></dp-autocomplete>
                                            </td>
                                            <td>
                                                <!-- [definition]="checkboxDefinitions" -->
                                                <dp-checkbox name="chkEventIncluded5" [ngModel]="model.EventIncluded5">
                                                </dp-checkbox>
                                            </td>
                                            <td>
                                                <dp-calendar name="fromEventDate5"
                                                    [definition]="CalendarDefFromEventDate5"
                                                    [(ngModel)]="model.fromEventDate5"></dp-calendar>
                                            </td>
                                            <td>
                                                <dp-calendar name="toEventDate5" [definition]="CalendarDefToEventDate5"
                                                    [(ngModel)]="model.toEventDate5"></dp-calendar>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </p-fieldset>
        </div>
    </div>


    <!-- <div class="p-grid">
        <div class="p-col-12 p-md-12">
            <p-fieldset [toggleable]="true"  [collapsed]="collapsed8"  legend="{{'dataForSearch' | translate}}">  
                <div class="p-grid">    
                    <div class="p-col-12 p-md-5 was6"> 
                        <div class="p-grid">
                            <div class="p-col-12 p-md-3">
                                aaaaaa
                            </div>
                            <div class="p-col-12 p-md-5">
                                bbbbbb
                            </div>
                            <div class="p-col-12 p-md-3">
                                cccccc
                            </div>
                        </div>
                    </div>
                    <div class="p-col-12 p-md-5 was6">
                        <div class="p-grid">
                            <div class="p-col-12 p-md-3">
                                aaaaaa
                            </div>
                            <div class="p-col-12 p-md-5">
                                bbbbbb
                            </div>
                            <div class="p-col-12 p-md-3">
                                cccccc
                            </div>
                        </div>
                    </div>
                </div>
            </p-fieldset>
        </div>
    </div> -->


    <!-- <button type="submit" class="btn btn-success" >חיפוש</button>
    <br><br> -->
    <dp-button class="ui-button-dp" [definition]="btnDef1"></dp-button>
    <!-- (click)='login()' -->
</form>

<br><br>

<dp-table 
tableId="tblEventsParams"
[definition]="gridDefinition"
[datasource]=""
></dp-table>  



<!-- <dp-table *ngIf="gridData1" tableId="tblShipmentsQuery" [definition]="gridDefinition1" [datasource]="gridData1">
</dp-table> -->
<!-- <div id="element_to_scroll" style=" height:6em;width: 1px; bottom:0px"></div> -->


