<!-- <app-login></app-login> -->
<app-header></app-header>
<app-main-declaration></app-main-declaration>
<!-- <app-maintab></app-maintab> -->

<div id="dpMainPageBody" class="dpCssTabContainer">
    <router-outlet></router-outlet>
</div>

<!-- <p-toolbar styleClass="p-mb-4">
    <div class="p-toolbar-group-left">
            <button pButton pRipple label="Save" 
                (click)="updateShipment()" 
                icon="pi pi-save" 
                class="ui-button ui-button-dp p-mr-2"
            ></button>
    </div>
</p-toolbar>  -->
