
<h2><u>fontawesome</u></h2>


<h3><u>size</u></h3>
<fa-icon [icon]="faCoffee" size="xs" class="cssPrimary"></fa-icon>
<fa-icon [icon]="faCoffee" size="lg" class="cssPrimary"></fa-icon>
<fa-icon [icon]="faCoffee" size="6x" class="cssPrimary"></fa-icon>

<h3><u>rotate</u></h3>
<fa-icon [icon]="faCoffee" rotate="90" class="cssPrimary"></fa-icon>
<fa-icon [icon]="faCoffee" rotate="180" class="cssPrimary"></fa-icon>
<fa-icon [icon]="faCoffee" rotate="270" class="cssPrimary"></fa-icon>

<h3><u>Flip</u></h3>
<fa-icon [icon]="faCoffee" flip="horizontal" class="cssPrimary"></fa-icon>
<fa-icon [icon]="faCoffee" flip="vertical" class="cssPrimary"></fa-icon>
<fa-icon [icon]="faCoffee" flip="both" class="cssPrimary"></fa-icon>

<h3><u>Animations</u></h3>
<fa-icon [icon]="faSpinner" [spin]="true" size="lg" class="cssPrimary"></fa-icon>
<fa-icon [icon]="faSpinner" [pulse]="true" size="lg" class="cssPrimary"></fa-icon>

<h3><u>Border</u></h3>
<fa-icon [icon]="faCoffee" [border]="true" size="3x" class="cssPrimary"></fa-icon>

<h3><u>colors</u></h3>
<fa-icon [icon]="faCoffee" style="color: blue;" size="lg"></fa-icon>
<fa-icon [icon]="faCoffee" style="color: green;" size="lg"></fa-icon>
<fa-icon [icon]="faCoffee" style="color: purple;" size="lg"></fa-icon>


