<div class="HeaderContainer1 marginLeft4">
<div class="borderRight pull-left">
    <p class="HeaderBG1">{{ 'coo.entityNo' | translate  }}: <label>
        {{cooService.cooData.CooBoxData.Header.EntityNo}}
    </label></p>
    <p class="HeaderBG1">  Coo Status:
        <!-- {{ 'coo.cooStatus' | translate  }} -->
    
        {{cooService.cooData.CooBoxData.Header.CooMode}}</p>
</div>
<div class="HeaderBG2 borderRight pull-left">
    <p> Coo Type: 
        <!-- {{ 'coo.cooType' | translate  }}: -->
  
        <label>
            {{cooService.cooData.CooBoxData.Header.AgentR_certificateOfOriginTypeName}}
        </label></p>
    <p> Coo No.: 
        <!-- {{ 'coo.cooNo' | translate  }}: -->
   
        {{cooService.cooData.CooBoxData.Header.EntityNo}}</p>
</div>
<div class="HeaderBG2 borderRight pull-left">
    <p>  CUSDEC: 
        <!-- {{ 'coo.CUSDECFile' | translate  }}: -->
   
        <label> 
            {{cooService.cooData.CooBoxData.Header.DeptCode}}-
            {{cooService.cooData.CooBoxData.Header.ShipmentNumber}}/
            {{cooService.cooData.CooBoxData.Header.CusDecOrder}}
        </label>
    </p>
    <p>Destination: 
        <!-- {{ 'coo.destination' | translate  }}: -->
   
        <label> {{cooService.cooData.CooBoxData.Header.COO_DestinationCountry}}</label></p>
</div>
<div class="HeaderBG2 borderRight pull-left">
    <p>Shipper: 
        <!-- {{ 'coo.shipper' | translate  }}: -->
  
        <label> {{cooService.cooData.CooBoxData.Header.COO_ExporterName}}</label></p>
    <p>CNEE: 
        <!-- {{ 'coo.CNEE' | translate  }}: -->
  
        <label>  {{cooService.cooData.CooBoxData.Header.COO_ConsigneeName}}</label></p>
</div>
<div class="HeaderBG2 borderRight pull-left">
    <p> ETD: 
        <!-- {{ 'coo.ETD' | translate  }}: -->
    
        <label></label></p>
    <p>ATD: 
        <!-- {{ 'coo.ATD' | translate  }}: -->
  
        <label></label></p>
</div>
<div class="HeaderBG2 pull-left">
    <p> CUSGTW
        <!-- {{ 'coo.CUSGTW' | translate  }}: -->
    
    <label>  {{cooService.cooData.CooBoxData.Header.CUS_GTW}}</label></p>
    <p></p>
</div>
</div>