
<div style="border: 1px solid gray;">
    <h2>in treetest.component.html</h2>
    <div class="p-grid"> 
        <div class="p-col-12 p-md-3">
            <fieldset>
                <legend> tree - single </legend>  


                <br><br>            
            </fieldset>
        </div>

        <div class="p-col-12 p-md-3">
            <fieldset>
                <legend> tree - multiple </legend>  



                <br><br>            
            </fieldset>
        </div>


        
        <div class="p-col-12 p-md-3">
            <fieldset>
                <legend> tree - checkbox </legend>
                     
                <!-- <p-tree [value]="treeItems1" [(selection)]="treeSelected1"></p-tree> -->

                <div>result: {{treeSelected1}}</div>
               
                <br><br>
            </fieldset>
            
        </div>

        <div class="p-col-12 p-md-3">
            <fieldset>
                <legend>tree vertical / horizontal</legend>  

                <!-- <dp-tree [value]="treeItems1" [(selection)]="treeSelected1"></dp-tree> -->

                <br><br>            
            </fieldset>
        </div>
    </div>

    


</div>

