<p-toolbar styleClass="p-mb-4">
    <div class="p-toolbar-group-left">
            <button pButton pRipple label="שמור"                 
                icon="pi pi-save" 
                class="ui-button ui-button-dp p-mr-2"
            ></button>
            <button pButton pRipple label="aaaaaa"                
            icon="pi pi-save" 
            class="ui-button ui-button-dp p-mr-2"
            ></button>
            <button pButton pRipple label="bbbbbb"                 
                icon="pi pi-save" 
                class="ui-button ui-button-dp p-mr-2"
            ></button>
            <button pButton pRipple label="cccccc"                 
            icon="pi pi-save" 
            class="ui-button ui-button-dp p-mr-2"
            ></button>
            <button pButton pRipple label="dddddd"                 
                icon="pi pi-save" 
                class="ui-button ui-button-dp p-mr-2"
            ></button>
            <button pButton pRipple label="eeeeee"                 
            icon="pi pi-save" 
            class="ui-button ui-button-dp p-mr-2"
            ></button>                        
    </div>
</p-toolbar>