@font-face {
  font-family: "Roboto";
  src: url("assets/Fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Roboto";
  src: url("assets/Fonts/Roboto-Bold.ttf");
  font-weight: bold;
} 
@font-face {
  font-family: "Roboto";
  src: url("assets/Fonts/Roboto-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}
@font-face {
    font-family: "Roboto";
    src: url("assets/Fonts/Roboto-Italic.ttf");
    font-style: italic;
  }
// @font-face {
//     font-family: "Roboto";
//     src: url("assets/Fonts/Roboto-Italic.ttf");
//     font-style: italic, oblique;
//   }

// $PrimaryOldColor: #007ad9;
// $PrimaryOld :focus -box-shadow: #8dcdff;
// $PrimaryOld:enabled: active {
//   background-color: #005b9f;
//   border-color: #005b9f;
// }
// $PrimaryOld :enabled : hover {
//     background-color: #116fbf;
//     color: #ffffff;
//     border-color: #116fbf;
// }

$PrimaryColor: #cb2026; // #007ad9
$PrimaryColorHover: #a71419;
$PrimaryColorShadow: #f36d72; // #8dcdff
$SecondaryColor:#ffce00;
$HeaderBG: #212121;
$HeaderShadow: #6E6D6D;
fa-icon.cssPrimary { color: $PrimaryColor}
.cssPrimary{ color: $PrimaryColor}
html, body {
  height:99%;
}
// html {
//   min-height: 100%;
// }

// body {
//   min-height: 100vh;
// }

// .ui-table-wrapper{
//   overflow: scroll;
//   max-height: 204px;
// }

body ,body .ui-widget {
  font-family: Roboto;
  // font-size: 14px;
  // text-decoration: none;
}
body .ui-table .ui-editable-column input{
  font-family: Roboto;
}

body .ui-table .ui-table-tbody > tr.ui-state-highlight {
  background-color: transparent ;
}
// .ui-state-highlight
// {
//   background-color:transparent;
// }
body .ui-table .ui-table-tbody > tr:nth-child(even).ui-state-highlight {
  background-color:transparent;
}

body .ui-tooltip{
    .ui-tooltip-arrow{border-top-color: $PrimaryColor;}
    .ui-tooltip-text{background-color: $PrimaryColor;} 
}
body .ui-tooltip.ui-tooltip-bottom .ui-tooltip-arrow {border-bottom-color: $PrimaryColor;} 

 body dp-table p-table {
   .ui-table .ui-table-thead > tr > th{
    white-space: nowrap;

    height: 36px !important;
    max-height: 36px ;
    padding: 0px;

    font-family: Roboto;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;

    border-right: solid 1px #ffffff;
  }
  .ui-table .ui-table-thead > tr > th{
    background-color: $HeaderBG;
    color: #ffffff;
  }

 .ui-table .ui-sortable-column.ui-state-highlight{
    background-color: #dadada;
    color: $HeaderBG;
    // .ui-sortable-column-icon {
    //   color: #dadada;
    // }
  }


  .ui-table .ui-table-thead > tr:not(.clsDpHeadTr) > th{
    background-color: $SecondaryColor;
    color: $HeaderBG;
    font-weight: 900;
    border-right: solid 3px #ffffff;
    border-bottom: solid 1px #ffffff;
  }
  .ui-table .ui-table-thead > tr.clsDpHeadFilterTr > th{
    background-color:#e1e1e1;
  }


  .ui-table .ui-table-tfoot > tr > td{
    height: 36px !important;
  }
  .ui-table .ui-table-tbody > tr > td{
    height: 60px;
    white-space: nowrap;
    // overflow-x: hidden;
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $HeaderBG;
    // background-color: white;
    border:1px solid #e7e7e7;
    text-align: center;
    a {
      color: #0e5eca;
    }
    // > app-cell > div{
    //   overflow-x: hidden;
    // }
  }



  .ui-table-caption button.ui-button, .clsDpFilterCell button.ui-button{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid  $PrimaryColor;
    color:  $PrimaryColor;
    margin-top: -.4em;
  }

  .ui-table-caption button.ui-button:enabled:active,
  .clsDpFilterCell button.ui-button:enabled:active,
  .ui-table-caption button.ui-button:enabled:hover,
  .clsDpFilterCell button.ui-button:enabled:hover{
    width: 32px;
    height: 32px;
    border-radius: 50%;     
    border: 1px solid  white;
    color:  white;
    margin-top: -.4em;
    background-color: $PrimaryColor;
  }
  .ui-table .ui-table-thead > tr .clsDpFilterCell {padding-top: 6px;}
  .ui-paginator .ui-paginator-pages .ui-paginator-page.ui-state-active {
     background-color: $PrimaryColor;
  }

  .ui-dropdown-panel .ui-dropdown-items .ui-dropdown-item.ui-state-highlight, body .ui-dropdown-panel .ui-dropdown-items .ui-dropdown-item-group.ui-state-highlight {
      color: #ffffff;
      background-color:  $PrimaryColor;
  }

  .ui-paginator .ui-paginator-pages .ui-paginator-page.ui-state-active {
    border-radius: 50%;
  }

}

// :enabled:active
body button.ui-button{
  // height: 25px;
  border-radius: 33px;

  .ui-button-text {
    // height: 13px;
    font-family: Roboto;
    // font-size: 11px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    //color:  $PrimaryColor;
  }

}

// body .ui-button.ui-button-text-icon-left .ui-button-text {
//     padding: .25em 1em .25em 2.6em;
// }

// body button.ui-button:not(.ui-button-warning):not(.ui-button-danger):not(.ui-button-primary):not(.ui-button-secondary):not(.ui-button-success):not(.ui-button-info)
// {
//   background-color: white;
//   border: 1px solid  $PrimaryColor;
//   .ui-button-text {
//     color: $PrimaryColor;
//   }
// }


body button.ui-button.ui-button-dp, body dp-button.ui-button-dp button
{
  background-color: white;
  border: 1px solid  $PrimaryColor;
  .ui-button-text {
    color: $PrimaryColor;
  }
}

body dp-splitbutton.ui-button-dp .ui-splitbutton.ui-buttonset button
{
  background-color: white;
  border: 1px solid $PrimaryColor;
  color: $PrimaryColor;
  .ui-button-text {
    color: $PrimaryColor;
  }
}
  
// body .ui-button:enabled:hover {
//   background-color: #116fbf;
//   color: #ffffff;
//   border-color: #116fbf;
// }
body dp-button.ui-button-dp .ui-button:enabled:hover
{
  background-color:$PrimaryColor; 
  border: 1px solid   white;
  .ui-button-text {
    color:  white;
  }
}
body p-calendar .ui-calendar button.ui-calendar-button:not(.ui-button-warning):not(.ui-button-danger):not(.ui-button-primary):not(.ui-button-secondary):not(.ui-button-success):not(.ui-button-info) {
  border: 1px solid #a6a6a6;
  border-left-width:0px;
  background-color: white;
  color: $PrimaryColor;
}

body button.ui-button.ui-button-dp:enabled:active
{
  border: 1px solid white;
  background-color: $PrimaryColor;
  .ui-button-text {
    color: white;
  }
}


body button.ui-button.ui-button.ui-button-dp:enabled:hover
{
  border: 1px solid  white;
  background-color: $PrimaryColor;
  .ui-button-text {
    color: white;
  }
}

// body button 
// .ui-button-icon-left {
//   font-size: 11px; 
// }
body button.ui-button.ui-button-dp
.ui-button-icon-left {
  color: $PrimaryColor;  
}
body button.ui-button.border-radius:hover
.ui-button-icon-left{  
  color: white;
}

body button fa-icon{
    top: 50%;
    left: 50%;
    // margin-top: -.5em;
    margin-top: -.6em;
    margin-left: -.45em;
    width: 1em;
    height: 1em;
    position: absolute;
    font-size: 1.25em;
  }

body p-splitbutton 
 {
    button.ui-button.ui-corner-left{
      border-top-right-radius:0px ;
      border-bottom-right-radius:0px ;
    }
    button.ui-button.ui-corner-right{
      border-top-left-radius:0px ;
      border-bottom-left-radius:0px ;
    }
    .ui-button-icon-left {
      font-size: 0.9em;      
    }
 
 }

//  body .ui-button.ui-button-text-only .ui-button-text {
//   padding-left: 29px;
//   padding-right: 29px;
// }

 dp-button.ui-button-yellow p-button button.ui-button:not(.ui-button-warning):not(.ui-button-danger):not(.ui-button-primary):not(.ui-button-secondary):not(.ui-button-success):not(.ui-button-info){
    background-color: $SecondaryColor ;
    border-color: $SecondaryColor;
    .ui-button-text {
      color:$HeaderBG;
    }
  }

  body .ui-button-yellow button.ui-button:not(.ui-button-warning):not(.ui-button-danger):not(.ui-button-primary):not(.ui-button-secondary):not(.ui-button-success):not(.ui-button-info):not(.ui-corner-left):not(.ui-corner-right):enabled:hover{
    background-color:$HeaderBG;
    border-color:$HeaderBG;
    .ui-button-text {
      color:#ffce00;
    }
  }

  // body dp-button.ui-button-yellow p-button button.ui-button:not(.ui-button-warning):not(.ui-button-danger):not(.ui-button-primary):not(.ui-button-secondary):not(.ui-button-success):not(.ui-button-info):not(.ui-corner-left):not(.ui-corner-right):enabled:hover {
  //   border: 1px solid $HeaderBG;
  //   background-color:$HeaderBG;
  // }


// }
  body .ui-paginator .ui-paginator-first:not(.ui-state-disabled),
  body .ui-paginator .ui-paginator-prev:not(.ui-state-disabled), 
  body .ui-paginator .ui-paginator-next:not(.ui-state-disabled), 
  body .ui-paginator .ui-paginator-last:not(.ui-state-disabled){
    color: $PrimaryColor;
    font-weight: 900;
    border-radius: 100px;
  }
  body .ui-paginator .ui-paginator-pages .ui-paginator-page{
    border-radius: 50%;
    // font-size: 16px;
    // height: 30px;
    // width: 30px;    
  }
  // body .ui-paginator .ui-paginator-pages .ui-paginator-page.ui-state-active{
  //   height: 40px;
  //   width: 40px;    
  // }
  
  body .ui-paginator .ui-paginator-first:not(.ui-state-disabled):not(.ui-state-active):hover,
  body .ui-paginator .ui-paginator-prev:not(.ui-state-disabled):not(.ui-state-active):hover, 
  body .ui-paginator .ui-paginator-next:not(.ui-state-disabled):not(.ui-state-active):hover, 
  body .ui-paginator .ui-paginator-last:not(.ui-state-disabled):not(.ui-state-active):hover{
    color: $PrimaryColor;
    background-color: #dadada;
  }
  // body .ui-button:enabled:focus
/* focus section start */
body  dp-button.ui-button-dp .ui-button:enabled:focus {
  box-shadow: 0 0 0 0.2em $PrimaryColorShadow;
}
body {
  // dp-button.ui-button-dp .ui-button-dp:enabled:focus {
  //   box-shadow: 0 0 0 0.2em $PrimaryColorShadow;
  // }
  .ui-table .ui-sortable-column:focus {
    box-shadow: inset 0 0 0 0.2em $HeaderShadow;
  }
 .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem .ui-menuitem-link:focus {
    box-shadow: 0 0 0 0.2em  $HeaderShadow;
  }
  .ui-tabview .ui-tabview-nav .ui-tabviewitem .ui-menuitem-link:focus {
    box-shadow: 0 0 0 0.2em  $HeaderShadow;
  }
  
  .ui-paginator .ui-paginator-pages .ui-paginator-page:focus {
    box-shadow: 0 0 0 0.2em $PrimaryColorShadow;
  }
  .ui-dropdown:not(.ui-state-disabled).ui-state-focus {
    box-shadow: 0 0 0 0.2em $PrimaryColorShadow;
  }


  .ui-datepicker .ui-datepicker-header .ui-datepicker-title select:focus {
      box-shadow: 0 0 0 0.2em $PrimaryColorShadow;
  }

  .ui-fieldset .ui-fieldset-legend a:focus {
    box-shadow: 0 0 0 0.2em$PrimaryColorShadow;
  }
} 
/* focus section end */






body .ui-chkbox .ui-chkbox-box.ui-state-active {
  border-color: $PrimaryColor;
  background-color: $PrimaryColor;
}
body .ui-chkbox .ui-chkbox-box.ui-state-active:not(.ui-state-disabled):hover {
  border-color: $PrimaryColorHover;
  background-color: $PrimaryColorHover;
  color: #ffffff;
}
body .ui-chkbox .ui-chkbox-box.ui-state-focus {
  box-shadow: 0 0 0 0.2em $PrimaryColorShadow;
}

body .ui-inputtext:enabled:focus:not(.ui-state-error) {
  box-shadow: 0 0 0 0.2em $PrimaryColorShadow;
  border-color: $PrimaryColor;
}

body .ui-inputtext {
  border-radius: 100px;
}

body p-calendar .ui-datepicker table td{padding: 0px;}


body .ui-datepicker table.ui-datepicker-calendar td > a.ui-state-active,
 body .ui-datepicker table.ui-datepicker-calendar td > span.ui-state-active{
  color: white; background-color: $PrimaryColor;
}

body .ui-datepicker table td > a:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2em $PrimaryColorShadow;
}





th.clsDpFilterHeader {
  .p-input-icon-left, .p-input-icon-right {
    position: relative;
    display: inline-block;
    max-width: 100%;
  }
  .p-input-icon-right > i:last-of-type {
    right: 0.5rem;
    color:$PrimaryColor;
    font-size: 17.5px;
  }
  .p-input-icon-left>i, .p-input-icon-right>i {
    position: absolute;
    top: 50%;
    margin-top: -.5rem;
  }
  .p-input-icon-right > .p-inputtext {
    padding-right: 2rem;
  }
  .p-inputtext {
    margin: 0;
  }
}


body .ui-datepicker:not(.ui-state-disabled) .ui-datepicker-header .ui-datepicker-prev:hover,
body .ui-datepicker:not(.ui-state-disabled) .ui-datepicker-header .ui-datepicker-next:hover {
  color: $PrimaryColor;
}
body .ui-datepicker:not(.ui-state-disabled) .ui-datepicker-header .ui-datepicker-prev:focus,
body .ui-datepicker:not(.ui-state-disabled) .ui-datepicker-header .ui-datepicker-next:focus {
  box-shadow: 0 0 0 0.2em $PrimaryColorShadow;
}
body .ui-datepicker .ui-datepicker-header .ui-datepicker-title select:focus {
  box-shadow: 0 0 0 0.2em $PrimaryColor;
}
body .ui-datepicker table td > a.ui-state-active, body .ui-datepicker table td > span.ui-state-active {
  background-color: $PrimaryColor;
}
body .ui-datepicker table td > a:focus {
  box-shadow: 0 0 0 0.2em $PrimaryColor;
}
body .ui-datepicker table td.ui-datepicker-today > a.ui-state-active, body .ui-datepicker table td.ui-datepicker-today > span.ui-state-active {
  background-color: $PrimaryColor;
}
body .ui-datepicker .ui-monthpicker .ui-monthpicker-month.ui-state-active {
  background-color: $PrimaryColor;
}

body .ui-tree .ui-tree-container .ui-treenode .ui-treenode-content .ui-treenode-label.ui-state-highlight{
  background-color: $PrimaryColor;
}
body .ui-tree .ui-tree-container .ui-treenode .ui-treenode-content:focus {

  box-shadow: 0 0 0 0.2em $PrimaryColorShadow;
}


/* tabmenu start */
body dp-tabmenu.dp-css {
  .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem{
    background-color: $HeaderBG;
    border: 1px solid $HeaderBG;
    
  }
  .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem.ui-state-active {
    background-color: #dadada;
    border: 1px solid #dadada;
    border: 1px solid $HeaderBG;
    .ui-menuitem-link .ui-menuitem-icon {
      color: $HeaderBG;
    }
  }
  .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem .ui-menuitem-link .ui-menuitem-text{
    color: white;
  }
  .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem .ui-menuitem-link .ui-menuitem-icon {
    color: white;
  }

  .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem.ui-state-active .ui-menuitem-link .ui-menuitem-text{
    color: $HeaderBG;
  }
  .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem:hover{
    font-weight: bold;
  }
}
/* tabmenu end */
/* tabview start */
 
 body .ui-tabview.ui-tabview-top {
  .ui-tabview-nav li{
    background-color: $HeaderBG;
    border: 1px solid $HeaderBG;
    
  }
  

  .ui-tabview-nav li.ui-state-active a
  {
    color: $HeaderBG;
  }

  .ui-tabview-nav li.ui-state-active {
    background-color: #dadada;
    border: 1px solid $HeaderBG;
    .ui-tabview-nav li.ui-state-active a {
      color: $HeaderBG;
    }
  }

  .ui-tabview-nav li.ui-state-active:hover {
    background-color: #dadada;
    border: 1px solid $HeaderBG;
    .ui-tabview-nav li.ui-state-active a:hover {
      color: $HeaderBG;
    }
  }
  .ui-tabview-nav li.ui-state-active:focus {
    outline: 0 none;
  outline-offset: 0;
  -webkit-box-shadow: 0 0 0 0.2em #818181;
  -moz-box-shadow: 0 0 0 0.2em #818181;
  box-shadow: 0 0 0 0.2em #818181;
  }
  
  .ui-tabview-nav li.ui-state-active:active {
    outline: 0 none;
  outline-offset: 0;
  -webkit-box-shadow: 0 0 0 0.2em #818181;
  -moz-box-shadow: 0 0 0 0.2em #818181;
  box-shadow: 0 0 0 0.2em #818181;
  }

  .ui-tabview-nav li a{
    color: white;
    font-weight: 400;
  }
  .ui-tabview-title:hover{
    color: $HeaderBG;
    font-weight: 700;
  }
  .ui-tabview .ui-tabview-nav .ui-tabviewitem .ui-menuitem-link .ui-menuitem-icon {
    color: white;
  }

  .ui-tabview .ui-tabview-nav .ui-tabviewitem.ui-state-active .ui-menuitem-link .ui-menuitem-text{
    color: $HeaderBG;
  }
  .ui-tabview-nav li:hover{
    font-weight: bold;
    background-color: #dadada;
    border: 1px solid $HeaderBG;
  }
}





/* tabview
 end */
/* menubar start */


body dp-menubar {
  .ui-menubar .ui-menuitem-link.ui-menuitem-link-active .ui-menuitem-text {
      color: $PrimaryColor;
    }
  li {
    background-color: $HeaderBG;
    border:1px solid white;
  }
   .ui-menubar 
    {
      border-width: 0px;
      background-color: transparent;
      .ui-menuitem:hover .ui-menuitem-link {
        color:$HeaderBG;
      }      
      .ui-menuitem-link:focus {
        box-shadow: inset 0 0 0 0.2em $HeaderShadow;
      }
      .ui-menuitem-link{
        
        color:white;
        .ui-menuitem-text, .ui-menuitem-icon{
          color:white;
        }
    }
    //  :hover 
    //  {
    //   .ui-submenu-icon {
    //      color: #333333;
    //   }
    // }

   }
}
body dp-menubar .ui-menubar .ui-menuitem:hover .ui-menuitem-link {color:$HeaderBG;}
/* menubar end */


/* autocomplete start */
body .ui-button.ui-autocomplete-dropdown
{
  background-color: white;
  border-color: $PrimaryColor;
  .ui-button-icon-left{
    color: $PrimaryColor;
  }
  // :hover{
  //   background-color: $PrimaryColor;
  //     border: 1px solid $PrimaryColor;
  // }
}
body .ui-button.ui-autocomplete-dropdown:hover{
  background-color: $PrimaryColor;
  border: 1px solid $PrimaryColor;
  .ui-button-icon-left{
    color: white;
  }
}
body .ui-autocomplete-panel .ui-autocomplete-items .ui-autocomplete-list-item.ui-state-highlight{
  background-color: $PrimaryColor;
}

body .ui-autocomplete.ui-autocomplete-multiple .ui-autocomplete-multiple-container {
  padding: 0.15em 0.429em;
}
body .ui-autocomplete.ui-autocomplete-multiple .ui-autocomplete-multiple-container .ui-autocomplete-token {

  background: $PrimaryColor;
}
body .ui-autocomplete.ui-autocomplete-multiple .ui-autocomplete-multiple-container:not(.ui-state-disabled).ui-state-focus {
  box-shadow: 0 0 0 0.2em $PrimaryColorShadow;
  border-color: $PrimaryColor;
}
body dp-autocomplete .ui-button:enabled:focus {
  box-shadow: 0 0 0 0.2em $PrimaryColorShadow;
}


@media screen and (min-width: 992px) {
  body dp-autocomplete .ui-autocomplete {width: 100%;}
  body dp-autocomplete .ui-autocomplete .ui-autocomplete-input {width: calc(100% - 2.357em )};
}

/* autocomplete end */

body .ui-button.ui-state-default.ui-button-secondary:enabled:focus,
 body .ui-buttonset.ui-button-secondary > .ui-button.ui-state-default:enabled:focus {
  box-shadow: 0 0 0 0.2em $PrimaryColorShadow;
}

// dp-splitbutton.ui-button-dp .ui-splitbutton button:hover dp-splitbutton .ui-splitbutton button{
//   background-color: red !important; 
// }


body dp-splitbutton.ui-button-dp  .ui-splitbutton.ui-buttonset .ui-button:enabled:hover
{
  background-color:$PrimaryColor; 
  border: 1px solid $PrimaryColor;
  .ui-button-text {
    color:  white;
  }
  .ui-button-icon-left{
    color:  white;
  }
}
// gil start last 
body dp-splitbutton.ui-button-dp .ui-splitbutton.ui-buttonset  .ui-button:enabled:focus {
  box-shadow: 0 0 0 0.2em $PrimaryColorShadow;
}
body dp-button.ui-button-yellow .ui-button:enabled:focus {
  box-shadow: 0 0 0 0.2em $HeaderShadow;
}
body .ui-table-caption .ui-button:enabled:focus {
  box-shadow: 0 0 0 0.2em $PrimaryColorShadow;
}
body dp-splitbutton.ui-button-dp .ui-menu .ui-menuitem-link:focus {
  box-shadow: inset 0 0 0 0.2em $PrimaryColorShadow;
}

.clsSpanLink  {color: #0e5eca }

body dp-calendar .ui-button:enabled:focus {
  box-shadow: 0 0 0 0.2em $PrimaryColorShadow;
}


dp-table .ui-table .ui-table-tbody > tr:focus > td {
  box-shadow: 0 -0.2em 0 0 $PrimaryColorShadow, 0 0.2em 0 0 $PrimaryColorShadow;
}
dp-table  .ui-table .ui-table-tbody > tr:focus > td:first-child {
  box-shadow: 0 -0.2em 0 0 $PrimaryColorShadow, 0 0.2em 0 0 $PrimaryColorShadow, -0.1em -0.1em 0 0.1em $PrimaryColorShadow;
}
dp-table  .ui-table .ui-table-tbody > tr:focus > td {
  box-shadow: 0 -0.2em 0 0 $PrimaryColorShadow, 0 0.2em 0 0 $PrimaryColorShadow;
}

dp-table .ui-table .ui-table-tbody > tr:focus + tr > td {
  box-shadow: 0 -0.2em 0 0 $PrimaryColorShadow;
}
dp-table .ui-table .ui-table-tbody > tr:focus > td {
  box-shadow: 0 -0.2em 0 0 $PrimaryColorShadow, 0 0.2em 0 0 $PrimaryColorShadow;
}
dp-table .ui-table .ui-table-tbody > tr:focus > td:first-child {
  box-shadow: 0 -0.2em 0 0 $PrimaryColorShadow, 0 0.2em 0 0 $PrimaryColorShadow, -0.1em -0.1em 0 0.1em $PrimaryColorShadow;
}
dp-table .ui-table .ui-table-tbody > tr:focus > td:last-child {
  box-shadow: 0 -0.2em 0 0 $PrimaryColorShadow, 0 0.2em 0 0 $PrimaryColorShadow, 0.1em -0.1em 0 0.1em $PrimaryColorShadow;
}

dp-table .ui-table .ui-table-tbody tr:hover{
  background-color: #dadada;
}

body .ui-table .ui-sortable-column:focus {
  box-shadow: inset 0 0 0 0.2em  $PrimaryColorShadow;
}

body dp-table p-table.cssSquareInputs {
  input[type=text], .ui-inputnumber-input, .ui-inputnumber-text,  p-calendar .ui-calendar.ui-calendar-w-btn .ui-inputtext,  p-calendar .ui-calendar.ui-calendar-w-btn .ui-calendar-button
    {border-radius: 0px ;}
}

body .ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-icon:focus {
  box-shadow: 0 0 0 0.2em $PrimaryColorShadow;
}

body .ui-paginator .ui-paginator-pages .ui-paginator-page.ui-state-active {
  background-color: $PrimaryColor;
}
body .ui-inputtext:enabled:hover:not(.ui-state-error) {
  border-color: $PrimaryColor;
}
body .ui-autocomplete.ui-autocomplete-multiple .ui-autocomplete-multiple-container:not(.ui-state-disabled):hover {
  border-color:  $PrimaryColor;
}

body .ui-button.ui-button-dp:enabled:focus {
  box-shadow: 0 0 0 0.2em $PrimaryColorShadow;
}

// body dp-calendar .ui-datepicker table td > a{
//   width: 31px;
// }

body dp-calendar .ui-datepicker .ui-datepicker-group  tbody > tr > td a {color: #333333; }

dp-picklist {
  button.ui-button 
  {
    background-color: white; 
    border: 1px solid $PrimaryColor;
    .ui-button-icon-left{
      color: $PrimaryColor;
    }
  }
  button.ui-button:enabled:hover
  {
  background-color: $PrimaryColor; 
  border: 1px solid $PrimaryColor;
  .ui-button-icon-left{
    color: white;
    }
  }
  button.ui-button:enabled:focus
  {
    box-shadow: 0 0 0 0.2em $PrimaryColorShadow;
  }
  .ui-picklist .ui-picklist-filter-container .ui-picklist-filter-icon{
    color: $PrimaryColor;
  }
  .ui-picklist .ui-picklist-list .ui-picklist-item.ui-state-highlight {
    background-color: $PrimaryColor;
  }
  .ui-picklist .ui-picklist-list .ui-picklist-item:focus {
    box-shadow: inset 0 0 0 0.2em $PrimaryColorShadow;
  }
}

#dpHeaderContainer {
  
  background-color: $PrimaryColor;
  border:1px solid red;
  height: 100px; 
  margin-bottom: 0.5rem;
  background-image: url('projects/dn-infra/src/assets/Images/HeaderBG.png'); 
  background-position:  100%; 
  background-repeat: no-repeat;
  dp-menubar ul li{ 
    // border-radius: 0px;
    // background-color: $PrimaryColor;
    // color:white;
    // border-width: 0px;    
    // border-color: $PrimaryColorShadow;
    border-radius: 0px;
    background-color: $PrimaryColor;
    color: white;
    border-width: 1px;
    border-color: $PrimaryColor;
    
  }
  dp-menubar ul li.ui-menuitem-active{ 
    cursor: pointer;
    // border-color: $PrimaryColor;
  }
  // dp-menubar ul li:hover{ 
  //   background-color:white;
  //   color:$PrimaryColor ;
  // }
  #dpSelectLang
  {
    padding: 0.5rem 0.5rem;
    font-family: 'Roboto';
    font-size: 14px;
  }
  .ui-menubar .ui-menuitem.ui-menuitem-active > .ui-menuitem-link {
    background-color:white;
    color: $PrimaryColor;
  }
  .ui-menubar .ui-menuitem.ui-menuitem-active > .ui-menuitem-link .ui-menuitem-text {
    color: $PrimaryColor;
  }
  .ui-menubar .ui-menuitem-link.ui-menuitem-link-active .ui-menuitem-text {
    color: #ffce00;
  }
  .ui-menubar .ui-menuitem-link:focus {
    box-shadow: none; //inset 0 0 0 0.2em #6E6D6D;
  }
  .ui-menubar .ui-menuitem-link:hover {
    background-color: white !important;    
  }
  // .ui-menubar .ui-menuitem:hover .ui-menuitem-link{
  //   color: $PrimaryColor;
  // }
  .ui-menubar .ui-menuitem .ui-menuitem-link .ui-submenu-icon {
    color: white;
  }

  .ui-menubar .ui-menuitem:hover > .ui-menuitem-link .ui-submenu-icon {
    color:  $PrimaryColor;
  }

  .ui-menubar .ui-menuitem.ui-menuitem-active > .ui-menuitem-link .ui-menuitem-icon, .ui-menubar .ui-menuitem.ui-menuitem-active > .ui-menuitem-link .ui-submenu-icon{
    color: $PrimaryColor !important;    
  }
  .ui-menubar .ui-menuitem-link:hover .ui-menuitem-text {
    color: $PrimaryColor;
  }
  body .ui-menubar .ui-submenu-list{
    border: 1px solid white;
  }
}
#dpHeaderContainer.clsNoMargin{
  margin-bottom:0px;
}
#dpHeaderContainer .ui-menubar .ui-submenu-list{
  border-width: 0px;
}

// @media screen and (max-width: 991px) {
//   #dpHeaderContainer {height :200px;}
// }
@media screen and (min-width: 992px) {
  #dpHeaderContainer {
    padding-left: 2em;
  }
  #dpHeaderContainer > div {padding-top:30px;}
}
#dpHeaderContainer {
  #dpSelectLang
  {
    background-color: $PrimaryColor;
    color: white;
    border-width: 0px;
    cursor: pointer;
  }
  #dpSelectLang:hover
  {
    background-color: white;
    color:  $PrimaryColor;
  } 
  #dpSelectLang option{
    border-bottom: 1px solid $PrimaryColor;
    margin:4px;
  }
}

body .ui-contextmenu .ui-menuitem-link {color: $PrimaryColor;}
body .ui-contextmenu .ui-menuitem.ui-menuitem-active > .ui-menuitem-link .ui-menuitem-icon,
 body .ui-contextmenu .ui-menuitem.ui-menuitem-active > .ui-menuitem-link .ui-submenu-icon,
 body .ui-contextmenu .ui-menuitem.ui-menuitem-active > .ui-menuitem-link .ui-menuitem-text
 {
  color: $PrimaryColor;
}
body .ui-contextmenu .ui-menuitem-link .ui-menuitem-icon{
    color: $PrimaryColor;
  }
body .ui-contextmenu .ui-menuitem-link .ui-menuitem-text{
  color: $PrimaryColor;
}

body .ui-contextmenu .ui-menuitem-link:focus {

  box-shadow: inset 0 0 0 0.2em $PrimaryColorShadow;
}
// ziv start
// .ui-table-scrollable-wrapper{
//   min-height: 100vh;
// }
// .ui-table-scrollable-body{
//   overflow: visible;
// }

input{
  max-width: 100%;
}
// ziv end
dp-table td .ui-inputnumber,dp-table td .ui-inputtext, dp-table td .ui-autocomplete{
  max-width: 100%;
}
dp-table td > span{
  overflow: hidden;
  display: block;
}
.dpCssTabContainer{
  border:1px solid #c8c8c8;border-top-width:0px;min-height:73%;padding: 0.5em; margin-bottom: 1em;
}

#dpLoginBody{
  // height: 85%;
  // background-image: url('projects/dn-infra/src/assets/Images/LoginBG.png');
  label{color:#424242;} 
  #dpLoginForgotContainer{color:#424242;}
  #username, #password{color:#8b8b8b; font-weight: bold;}
  // background-repeat: no-repeat;
}
#dpLoginContainer{
  padding: 2em;
  border-radius: 2px;
  box-shadow: 0 2px 60px 0 rgba(0, 0, 0, 0.4), 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
  opacity: 0.90;
  filter: alpha(opacity=90);
  h2{
    text-align: center;
    font-size: 24px;
    color: $PrimaryColor;
    padding-top: 1em;
    padding-bottom: 2em;
  }
  #dpLoginBtnContainer{
    padding-top: 1.5em;
  }
  #dpLoginForgotContainer{
    padding-top: 1em;
  }
}

 @media screen and (min-width: 992px) {
  #dpLoginContainer{
    width: 385px;
    height: 459px;
    left:60%;
    top: 150px;
    position: absolute;
  }
}
@media screen and (max-width: 991px) {
  #dpLoginContainer{
    width: 80%;
    height: 450px;
    left:10%;
    top: 120px;
    position: absolute;
  }
}
/* direction start*/
// confuirmdialog, contextmenu, dialog, dynamicdialog, toast, tabview?
dp-calendar, dp-autocomplete, 
dp-button, dp-checkbox, dp-inputnumber, dp-inputtext, dp-menubar ,dp-picklist, dp-splitbutton, 
dp-table, dp-tabmenu, dp-tree,p-tabview , p-tabview{
  direction: ltr;
}

.clsDpRtl {direction: rtl;}
.clsDpRtl .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem{
  float: right;
}
.clsDpRtl .ui-tabview .ui-tabview-nav .ui-tabviewitem{
  float: right;
}
.clsDpRtl  .ui-fieldset .ui-fieldset-legend a .ui-fieldset-toggler {
  margin-left: 0.5em;margin-right:0em;
}
.clsDpRtl .ui-tabview .ui-tabview-nav li{
  float: right;
}
/* direction end*/

/*chips start*/
body .ui-chips > ul.ui-inputtext .ui-chips-token{background: $PrimaryColor;}
body .ui-chips > ul.ui-inputtext:not(.ui-state-disabled).ui-state-focus{  box-shadow: 0 0 0 0.2em $PrimaryColorShadow; border-color: $PrimaryColorHover;}
/*chips end*/
/* check move to table css*/
dp-table p-table tbody tr {
  td{
  position: relative;
  }
  .ui-editing-cell .dnd
  {
    position: absolute; width:10px; height:10px;background-color: blue;right:0px ;bottom: 0px;z-index: 111;
    cursor: crosshair;
  }

  .dnd
  {
    position: absolute; width:10px; height:10px;background-color: blue;right:0px ;bottom: 0px;z-index: 111;
    cursor: crosshair;
  }
}
