/* You can add global styles to this file, and also import other style files */

.pull-left{float:left;}.pull-right{float:right;}.text-center{text-align:center;}.text-left{text-align:left;}.text-right{text-align:right;}
.ui-menu-list{text-align: left;} /*fix menu-item li text if container have another text-align*/