/* You can add global styles to this file, and also import other style files */


// @import '../../../../../../../node_modules/primeicons/primeicons.css';
// @import '../../../node_modules/primeng/resources/themes/nova-light/theme.css';
// @import '../../../../../../../node_modules/primeng/resources/primeng.min.css';
// @import '../../../../../../../node_modules/primeflex/primeflex.css';

// .pull-left{float:left;}.pull-right{float:right;}.text-center{text-align:center;}.text-left{text-align:left;}.text-right{text-align:right;}
// .ui-menu-list{text-align: left;} /*fix menu-item li text if container have another text-align*/


// body .ui-tree .ui-tree-container .ui-treenode .ui-treenode-content .ui-treenode-label.ui-state-highlight a{color:white;}

// .ui-tree .ui-tree-container a {text-decoration: underline;}

// body .ui-table .ui-table-tbody > tr > td {
//     padding: 0.571em 0.857em !important;
//   }